@charset "UTF-8";
/* line 48, ../sass/omega/utility/_messages.scss */
div.messages .close-message {
  text-shadow: none;
  position: absolute;
  right: .4em;
  top: -0.2em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}
/* line 56, ../sass/omega/utility/_messages.scss */
div.messages .close-message:before {
  font-size: 1.4em;
  content: "×";
}
/* line 61, ../sass/omega/utility/_messages.scss */
div.messages .close-message:hover, div.messages .close-message:focus, div.messages .close-message:active {
  color: #000;
}
