/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/**
 * $ISLAND
 */
/**
 * $ARROW
 */
/**
 * $HLIST
 */
body {
  background: transparent url('../../../images/diagonal.png?1376234678') left top repeat;
}

.l-constrained {
  width: 95%;
  margin: 0 auto;
  *zoom: 1;
}
.l-constrained:after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
.l-header {
  background-color: #52b1ea;
}

.l-region--header {
  padding: 18px 0;
}
.l-region--header .block {
  float: right;
}

/* Content Area */
.l-highlighted-wrapper {
  padding: 18px 0;
  background: #FFF;
}

.l-region--help {
  margin-bottom: 18px;
}

.l-main {
  margin-top: 36px;
  margin-bottom: 36px;
}

/* Sidebars */
.l-region--sidebar-first,
.l-region--sidebar-second {
  background-color: #FFF;
  padding: 18px 1em;
}

/* Footer */
.l-footer-wrapper {
  padding: 18px 0;
  background: #FFF;
}

@media (min-width: 44em) {
  .l-constrained {
    width: 90%;
  }

  /* Header */
  .l-branding {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

  .l-region--navigation {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 34.04255%;
    clear: none;
  }

  .l-region--header {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  /* Sidebars */
  .two-sidebars .l-content,
  .one-sidebar .l-content {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second,
  .one-sidebar .l-region--sidebar-first,
  .one-sidebar .l-region--sidebar-second {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right;
  }
}
@media (min-width: 70em) {
  .l-constrained {
    width: 80%;
  }

  /* Sidebars */
  .one-sidebar .l-content {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .one-sidebar .l-region--sidebar-first {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none;
  }

  .two-sidebars .l-content {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 51.06383%;
    clear: none;
    clear: none;
  }
  .two-sidebars .l-region--sidebar-second {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
