/**
 * @file
 * Theme for the poll voting form and results display.
 */
/**
 * Poll Results
 */
/* Poll Bars */
/* line 9, ../../../sass/modules/poll/poll.theme.scss */
.poll-bars__bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
/* line 14, ../../../sass/modules/poll/poll.theme.scss */
.poll-bars__bar .foreground {
  background-color: #000;
  height: 1em;
  float: left;
  /* LTR */
}

/* line 20, ../../../sass/modules/poll/poll.theme.scss */
.poll-bars__percent {
  text-align: right;
  /* LTR */
}

/* Poll Total */
/* line 24, ../../../sass/modules/poll/poll.theme.scss */
.poll-results__total {
  text-align: center;
}

/**
 * Poll Voting Form
 */
/* line 31, ../../../sass/modules/poll/poll.theme.scss */
.poll-vote-form {
  text-align: center;
}

/* line 34, ../../../sass/modules/poll/poll.theme.scss */
.poll-vote-form__choices {
  text-align: left;
  /* LTR */
  margin: 0 auto;
  display: table;
}
