@import "defaults", "mixins";

.breadcrumb {
  padding: $bc--padding;
  background: $bc--background;
  margin: $bc--margin;
  font-size: $bc--font-size;

  ol,
  ul {
    margin: 0;
    padding: 0;
  }

  li {

  }

  a {
    color: $bc--item--color;
    text-decoration: $bc--item--text-decoration;

    &:hover {
      color: $bc--item--color--hover;
      text-decoration: $bc--item--text-decoration--hover;
    }
  }
}
