@import "defaults", "mixins";

.block-search {

  padding-right: 40px;

  .form-type-search {
    display: inline-block;

    input {
      @include input(
        $width: 160px,
        $max-width: 100%
      );
    }
  }

  .form-submit {
    @include button();
    display: none;
    box-shadow: none;
  }

  .icon--search {
    @include button();
  }
}
