.navigation-container {
  overflow: hidden;
  background-color: $primary-color;
}

.region-navigation {
  .block {
    display: none;
    float: left;
    width: 100%;
    margin-bottom: .5em;

    &.block-toggled {
      display: block;
    }
  }
}

.block-toggle, .scroll-button {
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  margin: 5px 0 5px 5px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60%;

  &:hover, &:focus, &:active {
    background-color: $secondary-color;
  }
}

.block-toggle {
  background-image: url('../images/menu-toggle.png');
}

.scroll-button {
  background-image: url('../images/scroll-up.png');
  display: none;
}

.region-navigation {
  ul.menu {
    li {
      margin: .3em 0;
    }

    a {
      background-color: darken($primary-color, 10);
      display: block;
      color: $base-color;
      padding: 0.4em;
      text-decoration: none;

      &:hover, &:focus, &:active {
        background-color: $secondary-color;
      }
    }

    ul.menu li a {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

@include at-media-query($media-narrow-up) {
  .navigation-container {
    overflow: visible;
  }

  .region-navigation {
    .block {
      float: none;
      width: auto;
      display: block;
      margin-bottom: 0;
    }

    ul.menu {
      li {
        float: left;
        margin: 0;
        white-space: nowrap;
      }

      a {
        background-color: transparent;
      }
    }
  }

  .block-toggle {
    display: none;
  }
}


