/* Fonts */
.field--taxonomy-terms {
  padding: 5px 0px;
  margin: 5px 0;
  border: 1px solid #CCC;
  border-left-width: 0;
  border-right-width: 0; }
  .field--taxonomy-terms .field__label {
    font-size: 1.1em;
    font-weight: normal; }
  .field--taxonomy-terms .field-item--taxonomy-term {
    display: block;
    float: left; }
  .field--taxonomy-terms .taxonomy-term {
    display: block; }
  .field--taxonomy-terms .taxonomy-term {
    font-size: 0.75em;
    padding: 5px 8px;
    text-decoration: none;
    margin: 0.25em;
    background: #047aab;
    border: 1px solid black;
    color: #fafafa;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .field--taxonomy-terms .taxonomy-term:hover {
      background: #035679;
      border: 1px solid black;
      color: #fafafa; }
    .field--taxonomy-terms .taxonomy-term:after {
      font-size: 0; }
