/**
 * @file
 * Right-to-left styling for the Forum module.
 */
/**
 * Image upload widget.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/image\/image\.theme-rtl\.scss}line{font-family:\000039}}
.image-preview {
  float: right;
  padding: 0 0 10px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/image\/image\.theme-rtl\.scss}line{font-family:\0000313}}
.image-widget-data {
  float: right; }
