/**
 * @file
 * Right to left search module theme.
 */
/**
 * Search Results
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/search\/search\.theme-rtl\.scss}line{font-family:\000039}}
.search-result__snippet {
  padding-left: 0;
  padding-right: 1em; }

/**
 * Advanced Search Form
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/search\/search\.theme-rtl\.scss}line{font-family:\0000318}}
.search-advanced .criterion {
  float: right;
  margin-right: 0;
  margin-left: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/search\/search\.theme-rtl\.scss}line{font-family:\0000323}}
.search-advanced .action {
  float: right;
  clear: right; }
