body {
  margin: 0;
}

// Set the min-width to the smallest smartphone landscape view width.
.page {
  min-width: 320px;
  overflow: hidden;
}

// Fix to stop the main content area from collapsing even when it is empty.
.main-content {
  min-height: 1px;
}

// Implements the major building blocks as grid containers. By setting the
// max-width we make sure that the website doesn't scale infinitly.
.main, .topbar, .region-navigation, .footer-container .region, .region-search, .region-banner {
  @include grid-container;
}

// Add a gap between the content and the surrounding areas.
.main-content {
  margin-top: $vertical-page-gap;
  margin-bottom: $vertical-page-gap;
}

@include at-media-query($media-narrow-up) {
  .sidebar-first-container, .sidebar-second-container {
    margin-top: $vertical-page-gap;
    margin-bottom: $vertical-page-gap;
  }
}

.region-postscript, .region-preface, .footer-container .region, .region-content {
  @include clearfix;
}