/**
 * @file
 * Right-to-left styling for the Forum module.
 */
/* line 5, ../../../sass/modules/forum/forum.theme-rtl.scss */
.forum-icon {
  float: right;
  margin-left: 0;
  margin-right: 0.4em;
}
