@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);

html {
  font-size: 14px;
  font-family: $pt-sans;
  color: $dark-grey;
}

a,
a.active {
  color: $orange;

  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
  }
}
