/**
 * @file
 * Basic theming for the book navigation component.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/book\/book\.theme\.scss}line{font-family:\000035}}
.book-navigation__previous {
  float: left;
  /* LTR */
  display: block;
  width: 45%;
  text-align: left;
  /* LTR */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/book\/book\.theme\.scss}line{font-family:\0000311}}
.book-navigation__up {
  float: left;
  /* LTR */
  display: block;
  width: 10%;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/book\/book\.theme\.scss}line{font-family:\0000317}}
.book-navigation__next {
  float: right;
  /* LTR */
  display: block;
  width: 45%;
  text-align: right;
  /* LTR */ }
