/**
 * @file
 * Basic default book structural CSS for right to left languages.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/book\/book\.theme-rtl\.scss}line{font-family:\000035}}
.book-navigation__previous {
  float: right;
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/book\/book\.theme-rtl\.scss}line{font-family:\000039}}
.book-navigation__up {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/book\/book\.theme-rtl\.scss}line{font-family:\0000312}}
.book-navigation__next {
  float: left;
  text-align: left; }
