/**
 * @file
 * Basic styling for common HTML elements.
 */

fieldset {
  margin-bottom: 1em;
  padding: 0.5em;
}
form {
  margin: 0;
  padding: 0;
}
hr {
  border: 1px solid gray;
  height: 1px;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
}
th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em; /* LTR */
  text-align: left; /* LTR */
}
tbody {
  border-top: 1px solid #ccc;
}
tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}
