/**
 * @file
 * Omega's primary SCSS controller, that pulls in any relevant SCSS includes
 * 
 * All styles declared in Omega use the !default property.
 * Any overrides in your subtheme will not include this and can override styles and variables selectively.
 * In your subtheme, you can comment out any of the @import declarations you like if you'd like to create your own styles for that element.
 *
 * @usage
 * @media all and (min-width: $tablet) {
 *   // styles here will apply to tablet mode and above defined in vars.scss
 * }
 * @media all and (min-width: $desktop) {
 *   // styles here will apply to desktop mode and above defined in vars.scss
 * }
 * @media all and (min-width: $tablet) and (max-width: $desktop) {
 *   // styles here will apply to tablet mode ONLY and not for desktop mode.
 * }
 */
/* Fonts */
.theme-demo-block {
  padding: 20px;
  font-size: 80%;
  background: #EEE;
  border: 1px solid #C9E1BD;
  border-left: 8px solid #77B259;
  border-right: 8px solid #77B259;
  color: #325E1C;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: 0.5;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  cursor: pointer; }
  .theme-demo-block.active-region {
    border: 1px solid #C9E1BD;
    border-left: 8px solid #77B259;
    border-right: 8px solid #77B259; }
  .theme-demo-block.inactive-region {
    border: 1px solid #F4DAA6;
    border-left: 8px solid #E09600;
    border-right: 8px solid #E09600;
    color: #734C00; }
  .theme-demo-block:hover {
    opacity: 1; }
  .theme-demo-block h3 {
    font-size: 12px;
    font-weight: normal;
    font-variant: small-caps;
    margin: 0; }
  .theme-demo-block .demo-block-content p {
    margin: 0; }

/* Fonts */
#omega-screen--indicator {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 20px;
  color: #FFF;
  padding-left: 70px;
  height: 70px;
  font-size: 12px; }
  #omega-screen--indicator .indicator-data {
    position: relative;
    padding-left: 20px; }
  #omega-screen--indicator .ologo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px; }
    #omega-screen--indicator .ologo a {
      display: block;
      background: #008aba;
      transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out; }
      #omega-screen--indicator .ologo a:hover {
        background: #0b6194; }
    #omega-screen--indicator .ologo img {
      max-height: 100%;
      width: auto; }
  #omega-screen--indicator h5 {
    margin: 0;
    margin-right: 1em;
    font-size: 12px;
    display: inline-block; }
  #omega-screen--indicator .data {
    font-weight: bold; }

@media all and (min-width: 1024px) {
  #omega-screen--indicator {
    left: auto;
    width: 350px; } }
