/* Fonts */
/* line 5, ../../scss/elements/messages.scss */
.messages--warning {
  box-shadow: none;
  border-left: 8px solid #E09600; }

/* line 9, ../../scss/elements/messages.scss */
.messages--status {
  box-shadow: none;
  border-left: 8px solid #77B259; }

/* line 13, ../../scss/elements/messages.scss */
.messages--error {
  box-shadow: none;
  border-left: 8px solid #E62600; }
