/**
 * @file
 * Right-to-left styling for the Forum module.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/forum\/forum\.theme-rtl\.scss}line{font-family:\000036}}
.forum-icon {
  float: right;
  margin-left: 0;
  margin-right: 0.4em; }
