/**
 * @file
 * Theme styling for the user module.
 */
/**
 * Password Strength Indicator.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\000038}}
.password-strength {
  float: right;
  /* LTR */
  margin-top: 1.2em;
  width: 17em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000313}}
.password-strength-title {
  float: left;
  /* LTR */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000316}}
.password-strength-text {
  float: right;
  /* LTR */
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000320}}
.password-indicator {
  clear: both;
  height: 0.3em;
  width: 100%;
  background-color: #c4c4c4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000326}}
  .password-indicator .indicator {
    height: 100%;
    width: 0%;
    background-color: #47c965; }

/**
 * Password Confirm.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000336}}
div.password-confirm {
  float: right;
  /* LTR */
  clear: both;
  width: 17em;
  margin-top: 1.5em; }

/**
 * Password Confirm Inputs.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000346}}
.form-type-password-confirm input {
  width: 16em; }

/**
 * Password Suggestions.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000353}}
.password-suggestions {
  margin: 0.7em 0;
  padding: 0.2em 0.5em;
  border: 1px solid #b4b4b4; }

/*
 * User Profile
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000363}}
.user-profile-item__label {
  font-weight: bold; }

/* Generated by user.module but used by profile.module. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000370}}
.profile {
  clear: both;
  margin: 1em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000374}}
  .profile .user-picture {
    float: right;
    /* LTR */
    margin: 0 1em 1em 0;
    /* LTR */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000378}}
  .profile h3 {
    border-bottom: 1px solid #ccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000381}}
  .profile dl {
    margin: 0 0 1.5em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000384}}
  .profile dt {
    margin: 0 0 0.2em 0;
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/user\/user\.theme\.scss}line{font-family:\0000388}}
  .profile dd {
    margin: 0 0 1em 0; }
