/**
 * @file
 * Administrative styling for the user module.
 */
/**
 * User Permissions Page
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/user\/user\.admin\.scss}line{font-family:\000039}}
.user-admin-permissions .module {
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/user\/user\.admin\.scss}line{font-family:\0000312}}
.user-admin-permissions .permission {
  padding-left: 1.5em;
  /* LTR */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/user\/user\.admin\.scss}line{font-family:\0000315}}
.user-admin-permissions .form-item {
  white-space: normal; }

/**
 * User Roles Page
 *
 * Override default textfield float to put the "Add role" button next to
 * the input textfield.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/user\/user\.admin\.scss}line{font-family:\0000327}}
.user-admin-roles .edit-name {
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/user\/user\.admin\.scss}line{font-family:\0000330}}
.user-admin-roles .form-item-name {
  float: left;
  /* LTR */
  margin-right: 1em;
  /* LTR */ }
