/**
 * @file
 * Theme styles for the openid module.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/openid\/openid\.theme\.scss}line{font-family:\000036}}
.form-item-openid-identifier {
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/openid\/openid\.theme\.scss}line{font-family:\000039}}
  .form-item-openid-identifier input {
    padding-left: 20px;
    /* LTR */
    background-image: url('../../../images/modules/openid/login-bg.png?1384945445');
    background-position: left 50%;
    /* LTR */
    background-repeat: no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/openid\/openid\.theme\.scss}line{font-family:\0000318}}
.openid-links li {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/openid\/openid\.theme\.scss}line{font-family:\0000324}}
.openid-links a {
  padding: 0 0 0 1.5em;
  /* LTR */
  background-image: url('../../../images/modules/openid/login-bg.png?1384945445');
  background-position: left top;
  /* LTR */
  background-repeat: no-repeat; }
