/**
 * @file
 * Base styles for the Open ID module.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/openid\/openid\.base\.scss}line{font-family:\000037}}
html.js .user-login-form .openid-link,
html.js .user-login .openid-link {
  display: block;
  margin-left: 0;
  /* LTR */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/openid\/openid\.base\.scss}line{font-family:\0000312}}
html.js .user-login-form .form-item-openid-identifier,
html.js .user-login .form-item-openid-identifier {
  display: none; }
