/**
 * @file
 * Administration styles for the system status report.
 */

table.system-status-report td {
  padding: 6px;
  vertical-align: middle;
}
table.system-status-report tr.merge-up td {
  padding: 0 6px 8px 28px; /* LTR */
}
table.system-status-report td.status-icon {
  width: 16px;
  padding-right: 0; /* LTR */
}
table.system-status-report td.status-icon div {
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}
table.system-status-report tr.error td.status-icon div {
  background-image: url(../../misc/message-16-error.png);
}
table.system-status-report tr.warning td.status-icon div {
  background-image: url(../../misc/message-16-warning.png);
}
tr.merge-down,
tr.merge-down td {
  border-bottom-width: 0 !important;
}
tr.merge-up,
tr.merge-up td {
  border-top-width: 0 !important;
}
