/**
 * @file
 * System wide base styles.
 */
/**
 * @file
 * Base styles for autocomplete functionality.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/autocomplete\/_autocomplete\.base\.scss}line{font-family:\000039}}
#autocomplete {
  position: absolute;
  z-index: 100;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/autocomplete\/_autocomplete\.base\.scss}line{font-family:\0000314}}
  #autocomplete ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/autocomplete\/_autocomplete\.base\.scss}line{font-family:\0000320}}
  #autocomplete li {
    cursor: default;
    white-space: pre;
    zoom: 1;
    /* IE7 */ }

/* Animated throbber */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/autocomplete\/_autocomplete\.base\.scss}line{font-family:\0000328}}
html.js .form-autocomplete {
  background-image: url('../../../images/misc/throbber.gif?1379458577');
  background-position: 100% 2px;
  /* LTR */
  background-repeat: no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/autocomplete\/_autocomplete\.base\.scss}line{font-family:\0000333}}
html.js .throbbing {
  background-position: 100% -18px;
  /* LTR */ }

/**
 * @file
 * Base styles for collapsible fieldset functionality.
 *
 * @see collapse.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/collapsible\/_collapsible\.base\.scss}line{font-family:\000038}}
html.js fieldset.collapsed {
  height: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/collapsible\/_collapsible\.base\.scss}line{font-family:\0000311}}
html.js fieldset.collapsed .fieldset-wrapper {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/collapsible\/_collapsible\.base\.scss}line{font-family:\0000314}}
fieldset.collapsible {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/collapsible\/_collapsible\.base\.scss}line{font-family:\0000317}}
fieldset.collapsible .fieldset-legend {
  display: block; }

/**
 * @file
 * Base styles for the resizable textareas functionality.
 *
 * @see textarea.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/resizable\/_resizable\.base\.scss}line{font-family:\0000310}}
.form-textarea-wrapper textarea {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/resizable\/_resizable\.base\.scss}line{font-family:\0000316}}
.resizable-textarea .grippie {
  height: 9px;
  background: #eeeeee url('../../../images/misc/grippie.png?1379458577') no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  overflow: hidden; }

/**
 * @file
 * Base styling for the tabledrag behavior.
 *
 * @see tabledrag.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/tabledrag\/_tabledrag\.base\.scss}line{font-family:\000038}}
body.drag {
  cursor: move; }

/* Tabledrag Handle */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/tabledrag\/_tabledrag\.base\.scss}line{font-family:\0000312}}
.tabledrag-handle {
  float: left;
  /* LTR */
  overflow: hidden;
  text-decoration: none;
  cursor: move; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/tabledrag\/_tabledrag\.base\.scss}line{font-family:\0000318}}
  .tabledrag-handle .handle {
    height: 15px;
    width: 15px;
    margin: -0.4em 0;
    padding: 0.4em;
    background: url('../../../images/misc/draggable.png?1379458577') no-repeat 6px 9px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/tabledrag\/_tabledrag\.base\.scss}line{font-family:\0000325}}
  .tabledrag-handle:hover {
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/tabledrag\/_tabledrag\.base\.scss}line{font-family:\0000329}}
.tabledrag-handle-hover .handle {
  background-position: 6px -11px; }

/* Indentation */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/tabledrag\/_tabledrag\.base\.scss}line{font-family:\0000334}}
.indentation {
  float: left;
  /* LTR */
  width: 20px; }

/* Tree Images */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/tabledrag\/_tabledrag\.base\.scss}line{font-family:\0000340}}
.tree-child {
  background: url('../../../images/misc/tree.png?1379458577') no-repeat 12px center;
  /* LTR */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/tabledrag\/_tabledrag\.base\.scss}line{font-family:\0000343}}
.tree-child-last {
  background: url('../../../images/misc/tree-bottom.png?1379458577') no-repeat 12px center;
  /* LTR */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/tabledrag\/_tabledrag\.base\.scss}line{font-family:\0000346}}
.tree-child-horizontal {
  background: url('../../../images/misc/tree.png?1379458577') no-repeat -12px center; }

/* Toggle Weight Link */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/tabledrag\/_tabledrag\.base\.scss}line{font-family:\0000351}}
.tabledrag-toggle-weight-wrapper {
  text-align: right;
  /* LTR */ }

/**
 * @file
 * Base styling for the tableheader behavior.
 *
 * @see tableheader.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/tableheader\/_tableheader\.base\.scss}line{font-family:\000038}}
.sticky-header {
  margin-top: 0;
  background-color: #fff; }

/**
 * @file
 * Base styles for the progress behavior.
 *
 * @see progress.js
 */
/* Bar */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/progress\/_progress\.base\.scss}line{font-family:\0000310}}
.progress .bar {
  background-color: #fff;
  border: 1px solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/progress\/_progress\.base\.scss}line{font-family:\0000314}}
.progress .filled {
  height: 1.5em;
  width: 5px;
  background-color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/progress\/_progress\.base\.scss}line{font-family:\0000319}}
.progress .percentage {
  float: right;
  /* LTR */ }

/* Throbber */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/progress\/_progress\.base\.scss}line{font-family:\0000325}}
.ajax-progress {
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/progress\/_progress\.base\.scss}line{font-family:\0000328}}
  .ajax-progress .throbber {
    float: left;
    /* LTR */
    height: 15px;
    width: 15px;
    margin: 2px;
    background: transparent url('../../../images/misc/throbber.gif?1379458577') no-repeat 0px -18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/progress\/_progress\.base\.scss}line{font-family:\0000335}}
  .ajax-progress .message {
    padding-left: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/progress\/_progress\.base\.scss}line{font-family:\0000340}}
tr .ajax-progress .throbber {
  margin: 0 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/progress\/_progress\.base\.scss}line{font-family:\0000343}}
.ajax-progress-bar {
  width: 16em; }

/**
 * @file
 * System utility classes.
 */
/**
 * Inline items.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/utilities\/_utilities\.base\.scss}line{font-family:\0000312}}
.container-inline div,
.container-inline label {
  display: inline; }

/* Fieldset contents always need to be rendered as block. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/utilities\/_utilities\.base\.scss}line{font-family:\0000316}}
.container-inline .fieldset-wrapper {
  display: block; }

/**
 * Prevent text wrapping.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/utilities\/_utilities\.base\.scss}line{font-family:\0000323}}
.nowrap {
  white-space: nowrap; }

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/utilities\/_utilities\.base\.scss}line{font-family:\0000331}}
html.js .js-hide {
  display: none; }

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/utilities\/_utilities\.base\.scss}line{font-family:\0000343}}
.element-hidden {
  display: none; }

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/utilities\/_utilities\.base\.scss}line{font-family:\0000355}}
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px; }

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/utilities\/_utilities\.base\.scss}line{font-family:\0000368}}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto; }

/**
 * Use the clearfix from Compass.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/utilities\/_utilities\.base\.scss}line{font-family:\0000378}}
.clearfix {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }
