/**
 * @file
 * Right to left system wide theme styles.
 */
/**
 * @file
 * Basic right to left styling for common HTML elements.
 */
/* Tables */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/elements\/_elements\.theme-rtl\.scss}line{font-family:\000037}}
th {
  padding-left: 1em;
  padding-right: 0;
  text-align: right; }

/**
 * @file
 * Right to left theme for collapsible fieldsets.
 *
 * @see collapse.js
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/collapsible\/_collapsible\.theme-rtl\.scss}line{font-family:\000038}}
html.js fieldset.collapsible .fieldset-legend {
  padding-left: 0;
  padding-right: 15px;
  background-position: 98% 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/collapsible\/_collapsible\.theme-rtl\.scss}line{font-family:\0000313}}
html.js fieldset.collapsed .fieldset-legend {
  background-image: url('../../../images/misc/menu-collapsed-rtl.png?1384945445');
  background-position: 98% 50%; }

/**
 * @file
 * Right to left theme for the more link.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/morelink\/_morelink\.theme-rtl\.scss}line{font-family:\000036}}
.more-link {
  text-align: left; }
