/**
 * @file
 * Right to left theme for for system messages.
 */
/* Message */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/system\.messages\.theme-rtl\.scss}line{font-family:\000037}}
.messages {
  padding: 10px 50px 10px 10px;
  background-position: 99% 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/system\/system\.messages\.theme-rtl\.scss}line{font-family:\0000311}}
  .messages ul {
    margin: 0 1em 0 0; }
