/**
 * @file
 * Right to left system wide administration styles.
 */
/**
 * @file
 * Right to left administration style for administration blocks.
 */
/* Admin Panels */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/adminpanel\/_adminpanel\.admin-rtl\.scss}line{font-family:\000038}}
.admin-panel .admin-panel__body {
  padding-right: 1em; }

/* Admin Panel Page Layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/adminpanel\/_adminpanel\.admin-rtl\.scss}line{font-family:\0000315}}
.admin .left {
  float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/adminpanel\/_adminpanel\.admin-rtl\.scss}line{font-family:\0000318}}
.admin .right {
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/adminpanel\/_adminpanel\.admin-rtl\.scss}line{font-family:\0000321}}
.admin .expert-link {
  margin-left: 0;
  margin-right: 1em;
  padding-left: 0;
  padding-right: 4px;
  text-align: left; }

/**
 * @file
 * Right to left administration styles for the appearance page.
 */
/**
 * Disabled/Enabled Theme Lists
 */
/* Theme Selector Links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/appearance\/_appearance\.admin-rtl\.scss}line{font-family:\0000312}}
.theme-selector__operations li {
  float: right; }

/* Theme Selector Enabled State */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/appearance\/_appearance\.admin-rtl\.scss}line{font-family:\0000319}}
.theme-selector--enabled .theme-selector__info {
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/appearance\/_appearance\.admin-rtl\.scss}line{font-family:\0000322}}
.theme-selector--enabled .theme-selector__screenshot {
  float: right; }

/* Theme Selector Disabled State */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/appearance\/_appearance\.admin-rtl\.scss}line{font-family:\0000327}}
.theme-selector--disabled {
  float: right;
  padding: 20px 20px 20px; }

/**
 * @file
 * Right to left administration styles for the modules table.
 */
/* Module Operation Links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/modules\/_modules\.admin-rtl\.scss}line{font-family:\000037}}
.module-link {
  padding: 1px 20px 1px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/modules\/_modules\.admin-rtl\.scss}line{font-family:\0000310}}
.module-link-help {
  background: url('../../../images/misc/help.png?1384945445') 0 50% no-repeat;
  /* LTR */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/modules\/_modules\.admin-rtl\.scss}line{font-family:\0000313}}
.module-link-permissions {
  background: url('../../../images/misc/permissions.png?1384945445') 0 50% no-repeat;
  /* LTR */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/modules\/_modules\.admin-rtl\.scss}line{font-family:\0000316}}
.module-link-configure {
  background: url('../../../images/misc/configure.png?1384945445') 0 50% no-repeat;
  /* LTR */ }

/* Module Help */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/modules\/_modules\.admin-rtl\.scss}line{font-family:\0000321}}
.module-help {
  float: left;
  margin-left: 0;
  margin-right: 1em; }

/**
 * @file
 * Right to left administration styles for the system status report.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/system\/admin\/statusreport\/_statusreport\.admin-rtl\.scss}line{font-family:\000036}}
.merge-up td {
  padding: 0 28px 8px 6px; }
