.export-type-select {
  @include clearfix();

  background: #EEE;
  border: 1px solid #DDD;
  padding: 10px 20px;

  .form-item {
    display: inline-block;
    margin-right: .5em;
  }

  fieldset {
    float: left;
    margin-bottom: 0;
    margin-top: 0;

    .form-item {
      //margin-right: 0;
    }

    legend {
      margin-right: 1em;
    }

    legend,
    .fieldset-wrapper {
      float: left;
    }
  }

  .form-type-select {
    float: left;
    font-size: .9em;
    margin-bottom: 0;
    margin-top: 0;

    label {
      display: none;
    }
  }

  .form-type-radio {
    margin-bottom: 0;
    margin-top: 0;
  }

  .separator {
    float: left;
    font-weight: bold;
    margin-right: 1em;
  }
}
