.form-type-checkbox {
  label {
    font-weight: bold;
  }
  .description {
    font-size: 0.9em;
  }
  p.description {
    font-size: 1em;
    margin: 2px 0 5px 0;
  }
}

.form-actions {
  .button,
  .button:first-child {
    margin-left: 0;
    margin-right: 1em;
  }
}

.omega-variables-info,
.omega-export-info,
.omega-styles-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inline-documentation-image {
  height: auto;
  max-width: 80%;
}

.messages {
  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
