// Media queries.
$media-small: 'all and (min-width: 480px) and (max-width: 799px)' !default;
$media-narrow: 'all and (min-width: 800px) and (max-width: 979px)' !default;
$media-medium: 'all and (min-width: 980px) and (max-width: 1199px)' !default;

$media-small-up: 'all and (min-width: 480px)' !default;
$media-narrow-up: 'all and (min-width: 800px)' !default;
$media-medium-up: 'all and (min-width: 980px)' !default;
$media-wide-up: 'all and (min-width: 1200px)' !default;

$media-small-down: 'all and (max-width: 480px)' !default;
$media-narrow-down: 'all and (max-width: 800px)' !default;
$media-medium-down: 'all and (max-width: 980px)' !default;
$media-wide-down: 'all and (max-width: 1200px)' !default;

// Grid variables.
$total-columns: 24;
$gutter-width: 1.5%;
$grid-padding: 10px;
$column-width: (100% - (($total-columns - 1) * $gutter-width)) / $total-columns;
$grid-max-width: 1200px;

// Miscelanoues variables.
$sidebar-collapsed-width: 10px;
$sidebar-visible-gutter: 40px;
$sidebar-toggle-width: $sidebar-visible-gutter - 10px;
$sidebar-toggle-height: $sidebar-visible-gutter;

// Header variables.
$toolbar-height: 50px;

// Page variables.
$vertical-page-gap: 1em;

// Colors.
$base-color: #fff;
$primary-color: #2E2E2C;
$secondary-color: #000;