/* Fonts */
/* Apply a natural box layout model to all elements http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
#omega-screen--indicator, #omega-screen--indicator *, #omega-screen--indicator *:before, #omega-screen--indicator *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#omega-screen--indicator {
  background-color: rgba(0, 0, 0, 0.85);
  zoom: 1 !important;
  position: fixed;
  font-family: "Helvetica Neue",Arial,Helvetica;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 10px;
  color: #FFF;
  padding-left: 70px;
  height: 70px;
  font-size: 11px; }
  #omega-screen--indicator .indicator-data {
    position: relative;
    padding-left: 20px; }
  #omega-screen--indicator .ologo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px; }
    #omega-screen--indicator .ologo a {
      display: block; }
    #omega-screen--indicator .ologo img {
      max-height: 100%;
      max-width: 100%;
      width: auto; }
  #omega-screen--indicator h5 {
    margin: 0;
    margin-right: 1em;
    font-size: 11px;
    display: inline-block; }
  #omega-screen--indicator .data {
    font-weight: bold; }

@media all and (min-width: 1024px) {
  #omega-screen--indicator {
    left: auto;
    width: 350px; } }
