/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/*
 * Variables
 **********************************/
/**
 * Set consistent vertical and horizontal spacing units.
 */
/**
 * Define Susy grid variables mobile first.
 */
/* line 35, ../sass/simple.layout.scss */
.header,
.main,
.footer {
  *zoom: 1;
  max-width: 1190px;
  _width: 1190px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/* line 38, ../../../../../../../../lib/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.header:after,
.main:after,
.footer:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 44em) {
  /* line 44, ../sass/simple.layout.scss */
  .header,
  .main,
  .footer {
    max-width: 1190px;
  }

  /* line 49, ../sass/simple.layout.scss */
  .branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 52, ../sass/simple.layout.scss */
  .region-header {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

  /* line 55, ../sass/simple.layout.scss */
  .region-navigation {
    clear: both;
  }

  /* line 62, ../sass/simple.layout.scss */
  .sidebar-first [role="main"],
  .sidebar-second [role="main"],
  .two-sidebars [role="main"] {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 66, ../sass/simple.layout.scss */
  .sidebar-first .region-sidebar-first,
  .sidebar-first .region-sidebar-second,
  .sidebar-second .region-sidebar-first,
  .sidebar-second .region-sidebar-second,
  .two-sidebars .region-sidebar-first,
  .two-sidebars .region-sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 69, ../sass/simple.layout.scss */
  .sidebar-first .region-sidebar-second,
  .sidebar-second .region-sidebar-second,
  .two-sidebars .region-sidebar-second {
    clear: right;
  }
}
@media (min-width: 70em) {
  /* line 78, ../sass/simple.layout.scss */
  .header,
  .main,
  .footer {
    max-width: 1190px;
  }

  /* line 83, ../sass/simple.layout.scss */
  .branding {
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%;
  }

  /* line 86, ../sass/simple.layout.scss */
  .region-header {
    width: 62.02532%;
    float: right;
    margin-right: 0;
  }

  /* line 91, ../sass/simple.layout.scss */
  .sidebar-first [role="main"] {
    width: 74.68354%;
    float: right;
    margin-right: 0;
  }
  /* line 94, ../sass/simple.layout.scss */
  .sidebar-first .region-sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }

  /* line 99, ../sass/simple.layout.scss */
  .sidebar-second [role="main"] {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
  }
  /* line 102, ../sass/simple.layout.scss */
  .sidebar-second .region-sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none;
  }

  /* line 109, ../sass/simple.layout.scss */
  .two-sidebars [role="main"] {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%;
  }
  /* line 114, ../sass/simple.layout.scss */
  .two-sidebars .region-sidebar-first,
  .two-sidebars .region-sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }
  /* line 117, ../sass/simple.layout.scss */
  .two-sidebars .region-sidebar-first {
    margin-left: -75.94937%;
  }
  /* line 120, ../sass/simple.layout.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }
}
