{#
/**
 * @file
 * Omega's theme implementation to display a single page.
 *
 * @see template_preprocess_page()
 * @see omega_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div id="page-wrapper" class="page--wrapper clearfix">
    <div id="page" class="page clearfix {{ page_classes }}">

        {{ layout_layout }}

    </div>
</div> <!-- /#page, /#page-wrapper -->
