/**
 * @file
 * Base styles for the progress behavior.
 *
 * @see progress.js
 */

/* Bar */
.progress {
  .bar {
    background-color: #fff;
    border: 1px solid;
  }
  .filled {
    background-color: #000;
    height: 1.5em;
    width: 5px;
  }
  .percentage {
    float: right; /* LTR */
  }
}

/* Throbber */
.ajax-progress {
  display: inline-block;
  
  .throbber {
    background: transparent url(../../../images/misc/throbber.gif) no-repeat 0px -18px;
    float: left; /* LTR */
    height: 15px;
    margin: 2px;
    width: 15px;
  }
  .message {
    padding-left: 20px;
  }
}

tr .ajax-progress .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}
