/**
 * @file
 * Stylesheet for the Field UI module.
 */
/**
 *'Manage fields' and 'Manage display' overviews.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/field_ui\/field_ui\.admin\.scss}line{font-family:\000039}}
.field-ui-overview {
  /* Add New Row */
  /* Hidden Messages */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/field_ui\/field_ui\.admin\.scss}line{font-family:\0000312}}
  .field-ui-overview .add-new td {
    vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/field_ui\/field_ui\.admin\.scss}line{font-family:\0000315}}
  .field-ui-overview .add-new .label-input {
    float: left;
    /* LTR */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/field_ui\/field_ui\.admin\.scss}line{font-family:\0000318}}
  .field-ui-overview .add-new .tabledrag-changed {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/field_ui\/field_ui\.admin\.scss}line{font-family:\0000321}}
  .field-ui-overview .add-new .form-type-machine-name .description {
    white-space: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/field_ui\/field_ui\.admin\.scss}line{font-family:\0000327}}
  .field-ui-overview .region-add-new-title {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/field_ui\/field_ui\.admin\.scss}line{font-family:\0000330}}
  .field-ui-overview .region-populated {
    display: none; }

/**
 * 'Manage display' overview
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/field_ui\/field_ui\.admin\.scss}line{font-family:\0000339}}
.field-display-overview .field-formatter-settings-editing td {
  vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/field_ui\/field_ui\.admin\.scss}line{font-family:\0000342}}
.field-display-overview .field-formatter-settings-editing .field-formatter-type {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/field_ui\/field_ui\.admin\.scss}line{font-family:\0000346}}
.field-ui-display-overview-form #edit-refresh {
  display: none; }
