/**
 * @file
 * Styling for contextual links look and feel.
 */
/**
 * Contextual link wrappers
 */
.contextual-links-region-active {
  outline: #999999 dashed 1px;
}

.contextual-links-wrapper {
  font-size: 90%;
}
.contextual-links-wrapper a {
  text-decoration: none;
}

/**
 * Contextual trigger.
*/
.contextual-links-trigger {
  /* Positioning */
  height: 18px;
  /* Box Model */
  margin: 0;
  padding: 0 2px;
  width: 28px;
  /* Other Declarations */
  background: transparent url(../../../images/modules/contextual/gear-select.png) no-repeat 2px 0;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  text-indent: 90px;
  /* LTR */
}

.contextual-links-trigger:hover,
.contextual-links-active .contextual-links-trigger {
  background-position: 2px -18px;
}

.contextual-links-active .contextual-links-trigger {
  /* Positioning */
  position: relative;
  z-index: 1;
  /* Other Declarations */
  background-color: #fff;
  border-color: #ccc;
  border-bottom: none;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/**
 * Contextual links.
 */
.contextual-links {
  /* Position */
  position: absolute;
  right: 0;
  /* LTR */
  top: 18px;
  /* Box Model */
  margin: 0;
  padding: 0.25em 0;
  /* Other Declarations */
  background-color: #fff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px 0 4px 4px;
  -moz-border-radius: 4px 0 4px 4px;
  -ms-border-radius: 4px 0 4px 4px;
  -o-border-radius: 4px 0 4px 4px;
  border-radius: 4px 0 4px 4px;
  /* LTR */
  text-align: left;
  white-space: nowrap;
}
.contextual-links li {
  margin: 0;
  padding: 0;
  line-height: 100%;
  list-style: none;
  list-style-image: none;
}
.contextual-links a {
  display: block;
  margin: 0.25em 0;
  padding: 0.25em 1em 0.25em 0.5em;
  color: #333333 !important;
}
.contextual-links a:hover {
  background-color: #bfdcee;
}
