/**
 * @file
 * Styling for contextual links behaviour and structure.
 */
/**
 * Contextual links structure.
 */
/* line 9, ../../../sass/modules/contextual/contextual.base-rtl.scss */
.contextual-links-wrapper {
  left: 5px;
  right: auto;
}

/* line 13, ../../../sass/modules/contextual/contextual.base-rtl.scss */
.contextual-links-trigger {
  text-align: left;
}
