/**
 * @file
 * Styling for contextual links behaviour and structure.
 */
/**
 * Contextual links structure.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.base-rtl\.scss}line{font-family:\000039}}
.contextual-links-wrapper {
  left: 5px;
  right: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.base-rtl\.scss}line{font-family:\0000313}}
.contextual-links-trigger {
  text-align: left; }
