/**
 * @file
 * Styling for contextual links look and feel.
 *
 * We are proactivly making use of !important to ensure the contextual links
 * styling isn't broken by unspecific selectors such as ".block a". In order to
 * change the styling of the contextual links you should overwrite this file in
 * your subtheme.
 */
/**
 * Contextual link wrappers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.theme\.scss}line{font-family:\0000316}}
.contextual-links-region-active {
  outline: #999 dashed 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.theme\.scss}line{font-family:\0000319}}
.contextual-links-wrapper {
  font-size: 12px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.theme\.scss}line{font-family:\0000322}}
  .contextual-links-wrapper a {
    text-decoration: none; }

/**
 * Contextual trigger.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.theme\.scss}line{font-family:\0000330}}
.contextual-links-trigger {
  /* Positioning */
  height: 18px;
  /* Box Model */
  margin: 0 !important;
  padding: 0 2px !important;
  width: 28px;
  /* Other Declarations */
  background: transparent url('../../../images/modules/contextual/gear-select.png?1379458577') no-repeat 2px 0 !important;
  border: 1px solid transparent !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  text-indent: 9999px;
  /* LTR */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.theme\.scss}line{font-family:\0000345}}
.contextual-links-trigger:hover,
.contextual-links-active .contextual-links-trigger {
  background-position: 2px -18px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.theme\.scss}line{font-family:\0000348}}
.contextual-links-active .contextual-links-trigger {
  /* Positioning */
  position: relative;
  z-index: 1;
  /* Other Declarations */
  background-color: #fff !important;
  border-color: #ccc !important;
  border-bottom: none !important;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0; }

/**
 * Contextual links.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.theme\.scss}line{font-family:\0000362}}
.contextual-links {
  /* Position */
  position: absolute;
  right: 0;
  /* LTR */
  top: 18px;
  /* Box Model */
  margin: 0 !important;
  padding: 0 !important;
  /* Other Declarations */
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  -webkit-border-radius: 4px 0 4px 4px;
  -moz-border-radius: 4px 0 4px 4px;
  -ms-border-radius: 4px 0 4px 4px;
  -o-border-radius: 4px 0 4px 4px;
  border-radius: 4px 0 4px 4px;
  /* LTR */
  text-align: left;
  white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.theme\.scss}line{font-family:\0000377}}
  .contextual-links li {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 100%;
    list-style: none;
    list-style-image: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.theme\.scss}line{font-family:\0000385}}
  .contextual-links a {
    display: block;
    margin: 0 !important;
    padding: 5px 10px !important;
    color: #333 !important;
    font-size: 12px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/matt\/www\/omega\/sites\/all\/themes\/omega\/omega\/sass\/modules\/contextual\/contextual\.theme\.scss}line{font-family:\0000392}}
    .contextual-links a:hover {
      background-color: #bfdcee !important; }
