/**
 * @file
 * Styling for contextual links look and feel.
 */
/**
 * Contextual links.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/contextual\/contextual\.theme-rtl\.scss}line{font-family:\0000311}}
.contextual-links {
  left: 0;
  right: auto;
  -webkit-border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  -ms-border-radius: 0 4px 4px 4px;
  -o-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px; }
