@import 'defaults', 'mixins';

/* Apply a natural box layout model to all elements http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

body {
  font-family: $font--primary-body;
  font-size: 100%;
  max-width: 100%;
  -webkit-text-size-adjust:none;
  min-height: 100vh;
}

// Ensure all primary wrappers consume the full viewport height.
// This works properly for anon users (or users without admin toolbar that adds padding to the body).
// Additional adjustments for logged in users (with toolbar access) would occur via JS.
.page--wrapper,
.page--wrapper .page,
.page--wrapper .page .omega-layout-wrapper,
.page--wrapper .page .omega-layout {
  position: relative;
  min-height: 100vh;
}

// change the body spacing for the vertical toolbar from margin to padding
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 0;
  padding-left: 15rem;
}

a {
  @include transition(color, 0.25s, ease-in-out);

  text-decoration: none;
  // @todo: Make configurable.
  color: rgba($color--primary-1, 1);

  &:hover {
    text-decoration: underline;
    // @todo: Make configurable.
    color: rgba($color--primary-1, 0.85);
  }
}

details {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {

}

blockquote {

}

ul {

  li {

  }
}

ol {

  li {

  }
}

h1, h2, h3, h4, h5, h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}
