<div class="layout-wrapper">
    <div class="layout--one-column">
        <section class="region-group region-group--main">
            <div class="layout--region--content">
                {{ content.content }}
            </div>
        </section>
    </div>
</div>
