.logo-img {
  float: left;
}
.site-name-slogan {
  float: left;
  margin-left: 20px;
}
.site-title {
  margin-top: 20px;
}
.site-title a {
  text-decoration: none;
}
.site-title,
.site-slogan {
  margin-bottom: 0;
  line-height: 1em;
}
.site-slogan {
  font-weight: normal;
}