/* $Id$ */
/**
 * Omega, for Drupal 6.x
 * Jake Strawn - http://himerus.com
 * Project Page - http://drupal.org/project/omega
 *
 * The defaults.css file is the default set of default styles
 * normally available with the Omega base theme.
 * All of these styles are easily overwritten, but here to give
 * a bit more "sexy" right out of the box.
 *
 *
 * Omega CSS Table of Contents for defaults.css
 *
 * 1.) Generic Page Elements - pretty generic indeed.
 * 2.) Content Tabs - styling for tabs. (view, edit, etc)
 * 3.) Pager Navigation - Styling for pager navigation
 * 4.) clear-block code - default drupal clear-block definitions
 * 5.) Cleanup CSS - Primarily sizing & margins for default elements
 * 6.)
 * 7.)
 */

/** ################# 1.) Generic Page Elements ####################### */
/**
 * Skip link
 */
#skip-link a:link,
#skip-link a:visited {
  font-weight: bold;
  background: #fff;
  padding: 0px 5px;
  text-decoration: none;
  font-size: 80%;
  text-align: right;
  top: -99em;
  left: auto;
  position: absolute;
}

#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active  {
  height: auto;
  width: auto;
  overflow: visible;
  top:0;
  left:0;
  position: fixed;
  z-index: 1000;
}
.description {
  color: #594F36;
  font-size: 0.9em;
  line-height: 1em;
  padding: 10px;
}

.status {
  margin-top: 10px;
  margin-bottom: 10px;
}

.messages {
  margin-top: 20px;
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid #b8d3e5;
}

.messages,
.status,
.warning,
.error {
  padding: 10px;
}

.messages ul {
  margin-left: 20px;
}

.help {
  font-size: 0.9em;
  padding: 10px;
  padding-bottom: 0;
  background-color: #fff;
  border: 1px solid #b8d3e5;
  margin-top: 20px;
  margin-bottom: 0;
}

.help p {
  margin-bottom: 10px;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

/** ################# 2.) Content Tabs ####################### */

#content-tabs {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  display: block;;
  margin: 0 0 20px 0;
  font-family: Georgia, serif;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  margin: 0;
  padding: 0 10px 0 0;
  border: none;
}

#content-tabs ul.secondary {
  margin-top: 5px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  background: transparent;
  border-style: none;
  display: inline;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 0.9em;
  line-height: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #000;
  font-size: 0.9em;
  line-height: 1.1em;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  font-size: 1em;
  border-bottom: 2px solid #000;
  color: #000;
  font-weight: bold;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 2px solid #000;
  color: #000;
  font-weight: bold;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.secondary li a:hover {
  border-bottom: 2px solid #999;
  color: #888;
  padding-bottom: 2px;
}


/** ################# 5.) Cleanup CSS ####################### */

/* Fix the HORRIBLE styling of the default comment block */
.block-comment .item-list,
.block-comment .item-list ul,
.block-comment .item-list li {
  margin: 0;
  padding: 0;
}

.block-comment .item-list li {
	color: #999;
  font-size: 11px;
	list-style-type: none;
	margin: 0 0 5px 0;
}

.block-comment li a {
  font-size: 13px;
}

table {
  width: 100%;
}

#main-content ul,
#main-content ol {
  margin-left: 1em;
}

/* Clean up Default Book Navigation */
.book-navigation {
  margin: 10px 0;
  padding: 0;
}

.book-navigation ul.menu {
	font-size: 1.5em;
	border: 0;
  margin: 0 0 20px 0;
  padding: 0;
}

.book-navigation .page-links {
	clear: both;
  font-size: 0.9em;
}

/* Changing the main node links */
#main-content ul.links {
	font-size: 0.9em;
  margin-left: 0;
}

#main-content ul.links li,
#main-content ul.links li a {
  padding-left: 0;
}





























/**
 * Starting new region of CSS for the NEW defaults for 2.x
 * Many of the above styles can likely be removed completely.
 */

.logo-img, 
.site-name-slogan {
	display: inline-block;
	float: left;
}
.site-name-slogan {
	margin-left: 20px;
}
h1.site-title ,
h2.site-title {
  font-size: 36px;
}
h1.site-title a,
h2.site-title a{
  text-decoration: none;;
}
.site-title,
.site-slogan {
	margin: 0;
}
.site-slogan {
  font-style: italic;
  font-weight: normal;
}


.region-breadcrumb {
	min-height: 1em;
}
.block-search {
	text-align: right;
	padding-top: 4px;
	padding-bottom: 4px;
}
.block-search .form-submit {
  display: none;
}
.block-search .form-text {
  
}