/* $Id$ */
/**
 * Omega, for Drupal 6.x
 * Jake Strawn - http://himerus.com
 * Project Page - http://drupal.org/project/omega
 * 
 * The regions.css file provides an overview of the available parent
 * elements for the various regions of the page.tpl.php for easier 
 * overriding at a glance.
 *
 *
 * Omega CSS Table of Contents for regions.css
 *
 * 1.) User Container Styles
 *     The styles in this section related to the user bar above the branding 
 *     area. This is mainly "designed" to display the user menu and search blocks.
 * 2.) Main Menu Styles
 *     Default styling for the main menu
 */ 

/* 1.) User Container Styles */
#user-outer-wrapper {
	background: #EEE;
	border-bottom: 1px solid #DDD;
}
#user-container {
	
}
#user-container .contextual-links-wrapper {
	
	right: -20px;
}
#user-container .block {
	float: right;
}
#user-container .block h2 {
  display: none;
}
#user-container .block ul {
	margin-top: 5px;
  list-style-type: none;
  margin-bottom: 0;
}
#user-container .block ul li {
  display: inline;
}
#user-container .block-user {
	padding-top: 4px;
  padding-bottom: 4px;
}
#user-container .block-user form .form-item,
#user-container .block-user form .form-item label {
	display: inline;
}
#user-container .block-user form .form-item label,
#user-container .block-user form .item-list  {
	display: none;
}
#user-container .block-user .form-actions {
	display: inline;
}
#user-container .block-user .form-submit {
  background: none;
  border: none;
  background: url('../i/login.png') no-repeat top left;
  text-indent: -2000em;
  height: 24px;
  width: 24px;
  display: inline;
}
#user-container .block-search {
  text-align: right;
  padding-top: 4px;
  padding-bottom: 4px;
}
#user-container .block-search .form-submit {
	background: none;
	border: none;
  background: url('../i/search.png') no-repeat top left;
  text-indent: -2000em;
  height: 24px;
  width: 24px;
  display: inline;
}

/* 2.) Main Menu Styles */
#region-menu .primary-navigation {
	background: #EEE;
  border: 1px solid #DDD;
  padding: 5px;
}

.block {
	margin-bottom: 1.5em;
}
#user-container .block {
	margin-bottom: 0;
}