.grid-1:hover, .grid-2:hover, .grid-3:hover, .grid-4:hover,
.grid-5:hover, .grid-6:hover, .grid-7:hover, .grid-8:hover,
.grid-9:hover, .grid-10:hover, .grid-11:hover, .grid-12:hover,
.grid-13:hover, .grid-14:hover, .grid-15:hover, .grid-16:hover,
.grid-17:hover, .grid-18:hover, .grid-19:hover, .grid-20:hover,
.grid-21:hover, .grid-22:hover, .grid-23:hover, .grid-24:hover {
  background-color: rgba(0, 115, 186, .2);
  outline: 1px dashed #0073ba;
}

.alpha-resize-indicator {
  background: url(../images/resize-handle.png) no-repeat 0 0;
  width: 80px;
  height: 80px;
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;
}

.block-alpha-debug {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 20px 0;
  padding: 10px;
  color: #555;
  border: 1px dotted #888888;
  background-color: rgba(255, 255, 255, .5);
}

.block-alpha-debug h2 {
  color: #000;
  font-size: 14px;
  margin: 0 0 10px 0;
  font-weight: bold;
}