/* Clearfix fix to prevent padding at bottom of page. FML */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

/* Give pagers and inline LI items simple styling without all the junk from core */
ul.inline li,
ul.pager li {
  display: inline;
}