/* Clearfix fix to prevent padding at bottom of page. FML */
.clearfix:after {
  font-size: 0;
}

/* Give pagers and inline LI items simple styling without all the junk from core */
.inline li,
.tabs li,
.breadcrumb li {
  list-style: none;
  display: inline;
  margin-right: 0.5em;
}

.item-list li {
  list-style: none;
}

.pager li {
  display: inline;
  margin-right: 0.25em;
}

img {
  vertical-align: bottom;
}

.field-label-inline .field-label,
.field-label-inline .field-items,
.field-label-inline .field-item {
  display: inline;
}
