.vertical-tabs fieldset fieldset legend {
  display: inline-block;
}
 
div.vertical-tabs .vertical-tabs-panes fieldset fieldset {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 2.5em 0 0;
}

div.vertical-tabs .vertical-tabs-panes fieldset fieldset legend {
  display: inline-block;
}

.alpha-region-configuration .form-item {
  padding-top: 5px;
  margin-right: 20px !important;
  float: left;
}