/**
 * @file
 * Styles for the block demo page.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/block\/block\.demo\.scss}line{font-family:\000038}}
.block-region {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
  background-color: #ff6; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/block\/block\.demo\.scss}line{font-family:\0000316}}
.block-demo-backlink,
.block-demo-backlink:link,
.block-demo-backlink:visited {
  /* Position */
  position: fixed;
  z-index: 499;
  left: 20px;
  /* LTR */
  /* Box Model */
  padding: 5px 10px;
  /* Font */
  color: #000;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: small;
  line-height: 20px;
  /* Other Declarations */
  background-color: #b4d7f0;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/opt\/dcvie-training\/drupal\/profiles\/training_profile\/themes\/contrib\/omega\/omega\/sass\/modules\/block\/block\.demo\.scss}line{font-family:\0000332}}
.block-demo-backlink:hover {
  text-decoration: underline; }
