<div class="omega-layout-wrapper">
    <div class="layout--omega--one-column-stacked omega-layout">

        {% if content.header %}
        <section class="layout-group region-group region-group--header">
            <div class="layout--region layout--region--header">
                {{ content.header }}
            </div>
        </section>
        {% endif %}

        {% if content.content %}
        <section class="layout-group region-group region-group--main">
            <div class="layout--region layout--region--content">
                {{ content.content }}
            </div>
        </section>
        {% endif %}

        {% if content.footer %}
        <section class="layout-group region-group region-group--footer">
            <div class="layout--region layout--region--footer">
                {{ content.footer }}
            </div>
        </section>
        {% endif %}
    </div>
</div>
