<div class="layout-wrapper">
    <div class="layout--one-column-stacked">

        <section class="region-group region-group--header">
            <div class="layout--region--header">
                {{ content.header }}
            </div>
        </section>

        <section class="region-group region-group--main">
            <div class="layout--region--content">
                {{ content.content }}
            </div>
        </section>

        <section class="region-group region-group--footer">
            <div class="layout--region--footer">
                {{ content.footer }}
            </div>
        </section>
    </div>
</div>
