<div class="layout-wrapper">
    <div class="layout--one-column-stacked">

        <div class="layout--region--header">
            {{ content.header }}
        </div>
        <div class="layout-region--main">
            {{ content.main }}
        </div>
        <div class="layout-region--footer">
            {{ content.footer }}
        </div>
    </div>
</div>
