////
/// This file is annotated for use with Sassdoc (http://sassdoc.com/)
/// @group structure
////

// Font variables.

/// Primary font for `<body>` and all elements unless otherwise overridden.
$font--primary-body: "Helvetica Neue", Arial, Helvetica !default;
/// Primary font for all header elements such as `<h1> <h2> <h3>`, etc. unless otherwise overridden.
$font--primary-header: Georgia, Times, serif !default;

// Breakpoint variables

/// Breakpoint used for small screens with a viewport width less than `$bp--mobile-landscape`.
/// @example
///   @media all and (min-width: $bp--mobile) {
///     // Provide styles for this breakpoint here.
///   }
$bp--mobile:                          0px    !default;

/// Breakpoint used for small screens with a viewport width greater than `$bp--mobile` and less than `$bp--small`.
/// @example
///   @media all and (min-width: $bp--mobile-landscape) {
///     // Provide styles for this breakpoint here.
///   }
$bp--mobile-landscape:                320px  !default;

/// Breakpoint used for small screens with a viewport width greater than `$bp--mobile-landscape` and less than `$bp--normal`.
/// @example
///   @media all and (min-width: $bp--small) {
///     // Provide styles for this breakpoint here.
///   }
$bp--small:                           600px  !default;

/// Breakpoint used for screens with a screen viewport greater than `$bp--small` and less than `$bp--wide`.
/// @example
///   @media all and (min-width: $bp--normal) {
///     // Provide styles for this breakpoint here.
///   }
$bp--normal:                          960px  !default;

/// Breakpoint used for small screens with a viewport width greater than `$bp--normal` and less than `$bp--extra-wide`.
/// @example
///   @media all and (min-width: $bp--wide) {
///     // Provide styles for this breakpoint here.
///   }
$bp--wide:                            1200px !default;

/// Breakpoint used for small screens with a viewport width greater than `$bp--wide`.
/// @example
///   @media all and (min-width: $bp--extra-wide) {
///     // Provide styles for this breakpoint here.
///   }
$bp--extra-wide:                      1440px !default;

// Primary Color Palette. (Dark Colors)

/// Primary Color #1
/// @type Color
/// @example
///   // Apply a font color to my-item
///   .my-item {
///     color: $color--primary-1;
///   }
///   // Apply a background color to my-other-item
///   .my-other-item {
///     background: $color--primary-1;
///   }
$color--primary-1:                    #1A1A1A !default;

/// Primary Color #2
/// @type Color
/// @example
///   // Apply a font color to my-item
///   .my-item {
///     color: $color--primary-2;
///   }
///   // Apply a background color to my-other-item
///   .my-other-item {
///     background: $color--primary-2;
///   }
$color--primary-2:                    #5A5A5A !default;

/// Primary Color #3
/// @type Color
/// @example
///   // Apply a font color to my-item
///   .my-item {
///     color: $color--primary-3;
///   }
///   // Apply a background color to my-other-item
///   .my-other-item {
///     background: $color--primary-3;
///   }
$color--primary-3:                    #CCCCCC !default;

/// Primary Color #4
/// @type Color
/// @example
///   // Apply a font color to my-item
///   .my-item {
///     color: $color--primary-4;
///   }
///   // Apply a background color to my-other-item
///   .my-other-item {
///     background: $color--primary-4;
///   }
$color--primary-4:                    #3A3A3A !default;

/// Primary Color #5
/// @type Color
/// @example
///   // Apply a font color to my-item
///   .my-item {
///     color: $color--primary-5;
///   }
///   // Apply a background color to my-other-item
///   .my-other-item {
///     background: $color--primary-5;
///   }
$color--primary-5:                    #9A9A9A !default;

// Secondary Color Palette. (Light Colors)

/// Secondary color #1 (one).
/// @type Color
$color--secondary-1:                  #7A7A7A !default;

/// Secondary color #2 (two).
/// @type Color
$color--secondary-2:                  #9A9A9A !default;

/// Secondary color #3 (three).
/// @type Color
$color--secondary-3:                  #EFEFEF !default;

// Accent Color Palette.

// Accent color #1 (one).
/// @type Color
$color--accent-1:                     blue !default;

// Accent color #2 (two).
/// @type Color
$color--accent-2:                     red !default;

// Primary Colors

/// @type Color
$color--white:                        #FFF !default;

/// @type Color
$color--black:                        #000 !default;

/// @type Color
$color--red:                          #FF0000 !default;

// Basic Button Styling.
$button--bg-color:                    $color--secondary-3 !default;
$button--font-color:                  $color--primary-1 !default;
$button--bg-color--hover:             darken($color--secondary-3, 15%) !default;
$button--font-color--hover:           darken($color--primary-1, 15%) !default;
$button--border:                      1px solid $color--secondary-1 !default;
$button--border-radius:               4px !default;
$button--font--weight:                normal !default;
$button--text--transform:             none !default;
$button--text--variant:               none !default;
$button--font--size:                  12px !default;
$button--padding:                     .5em .75em !default;
$button--line-height:                 1em !default;

// Basic SVG Logo Styling.
$logo--color:                         $color--primary-2 !default;
$logo--color--hover:                  $color--primary-1 !default;

// User Bar.
$user-bar--padding:                   3px 10px !default;
$user-bar--background:                $color--primary-4 !default;
$user-bar--font-color:                $color--secondary-2 !default;
$user-bar--link-color:                $color--secondary-1 !default;
$user-bar--link-color--hover:         lighten($color--secondary-1, 20%) !default;

// Positioning for blocks inside user bar.
$user-bar--search-float:              right !default;
$user-bar--login-float:               right !default;;
$user-bar--menu-float:                left !default;

// Custom styling for the login block when INSIDE the user bar.
$user-bar--login--bg:                 $user-bar--background !default;
$user-bar--login--padding:            10px !default;
$user-bar--login--color:              $user-bar--font-color !default;
$user-bar--login--font-size:          12px !default;
$user-bar--login--min-width:          200px !default;
$user-bar--login--max-width:          100% !default;
$user-bar--login--actions-align:      right !default;
$user-bar--login--links-align:        right !default;

// Form styling
// See: {mixin} input
$form--input--width:                  100% !default;
$form--input--max-width:              100% !default;
$form--input--bg:                     $color--white !default;
$form--input--border:                 1px solid $color--primary-1 !default;
$form--input--border--active:         1px solid $color--primary-1 !default;
$form--input--border--focus:          1px solid $color--primary-1 !default;
$form--input--padding:                0.35em 0.5em !default;
$form--input--font-size:              0.8em !default;
$form--input--font-weight:            normal !default;
$form--input--border-radius:          3px !default;

// Main Menu Styling
$menu--background:                    transparent !default;
$menu--margin:                        0 !default;
$menu--padding:                       0 !default;
$menu--border:                        none !default;
$menu--alignment:                     left !default; // Options: left/right/center.

// Main Menu Menu Item Styling
$menu--item--background:              $color--secondary-3 !default;
$menu--item--background--hover:       darken($menu--item--background, 5%) !default;
$menu--item--background--active:      darken($menu--item--background, 10%) !default;
$menu--item--margin:                  1px 1px 0 0 !default;
$menu--item--padding:                 1em 2em !default;
$menu--item--font-size:               18px !default;
$menu--item--font-weight:             bold !default;
$menu--item--border-color:            transparent !default;
$menu--item--border-style:            none !default;
$menu--item--border-width--top:       0 !default;
$menu--item--border-width--left:      0 !default;
$menu--item--border-width--bottom:    0 !default;
$menu--item--border-width--right:     0 !default;
$menu--item--submenu--background:     transparent !default;
$menu--item--submenu--border:         none !default;

// Breadcrumb Styling
$bc--background:                      $color--secondary-3 !default;
$bc--padding:                         5px 20px !default;
$bc--margin:                          5px 0 !default;
$bc--font-size:                       11px !default;
$bc--item--color:                     $color--primary-1 !default;
$bc--item--color--hover:              lighten($color--primary-1, 10%) !default;
$bc--item--text-decoration:           none !default;
$bc--item--text-decoration--hover:    underline !default;

// Footer.
$footer--padding:                   10px 20px !default;
$footer--background:                $color--primary-4 !default;
$footer--font-color:                $color--secondary-2 !default;
$footer--link-color:                $color--secondary-1 !default;
$footer--link-color--hover:         lighten($color--secondary-1, 20%) !default;

// Positioning for blocks inside footer.
$footer--powered-float:             right !default;
$footer--menu-float:                left !default;
