

@mixin omegaTransition($type: all, $speed: 0.25s, $transition: ease-in-out) {
  transition: $type $speed $transition;
}

@mixin omegaCorners($rad: 5px) {
  border-radius: $rad;
}

@mixin omegaShadow() {
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}
