$twidth: 100%;
@import 'omegags';
@import 'admin/faked_grids';

@mixin simpleTransition($type:all, $speed:0.25s, $transition: ease-in-out) {
  transition: $type $speed $transition;
  -moz-transition: $type $speed $transition;
  -webkit-transition: $type $speed $transition;
}

.region-settings {
  width: 100%;
}


.scss-examples {
  background: #FEFEFE;
  border: 1px dashed #6a6a6a;
  margin-bottom: 20px;
  padding: 8px 5px;

  ul {

    display: inline-block;
    list-style-type: none;
    margin: 0 0 0 1em;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

.form-item.color-slider-controller {
  margin-bottom: 0;
  padding-bottom: 20px;
  position: relative;

  label {
    display: inline-block;
    font-size: 18px;
  }

  .controls {
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.scss-examples {
    display: inline-block;
    list-style-type: none;
    margin: 0 0 0 1em;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 1em;
    }
  }

  input.rgb {
    @include simpleTransition(opacity, 0.25s, ease-in-out);

    position: absolute;
    right: -4em;
    top: -10px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.35;
    width: 45px;

    &:focus {
      opacity: 1;
    }
  }

  input.color-slider {
    position: absolute;
    z-index: 100;
    right: 10px;
    bottom: 30px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.35;
    @include simpleTransition(opacity, 0.25s, ease-in-out);

    &:focus {
      opacity: 1;
    }
  }
}

#edit-variables-fonts {
  .form-type-select {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
  }
  .sample-font-content {
    float: none;
    clear: both;
    padding: 20px 0;
  }
}

.omega-welcome {

  .screeny {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;

  }
}

.color-slider {
  position: relative;
  max-height: 125px;

  .red, .green, .blue {
    float: left;
    clear: none;
    width: 60%;
    margin: 15px 0;
  }

  .swatch {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 75%;
    z-index: 1;
    border: 2px solid #FFF;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }

  .red .ui-slider-range {
    background: #ef2929;
  }
  .red .ui-slider-handle {
    border-color: #EEEEEE;
    background: #ef2929;
  }
  .green .ui-slider-range {
    background: #8ae234;
  }
  .green .ui-slider-handle {
    border-color: #EEEEEE;
    background: #8ae234;
  }
  .blue .ui-slider-range {
    background: #729fcf;
  }
  .blue .ui-slider-handle {
    border-color: #EEEEEE;
    background: #729fcf;
  }
}

.region-settings {
  @include simpleTransition(all, 0.5s, ease-in-out);

  .ui-slider {

    .ui-slider-handle {
      background: #999;
      width: 1.8em;
      height: 1.8em;
      margin-left: -0.9em;
      top: -0.6em;
    }
  }
}

.form-type-checkbox {
  label {
    font-weight: bold;
  }
  .description {
    font-size: 0.9em;
  }
  p.description {
    font-size: 1em;
    margin: 2px 0 5px 0;
  }
}

#edit-actions {

  .button,
  .button:first-child {
    margin-left: 0;
    margin-right: 1em;
  }

}

// Slider for region controls.
.slider {

  .data-value {

    text-align: right;
    position: relative;
    top: 20px;
    font-weight: bold;
    font-size: 17px;
  }
}

.omega-variables-info,
.omega-export-info,
.omega-styles-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.entity-meta details {
  //position: relative;

  > .details-wrapper {
    //position: relative;
  }
}

.region-group-layout-settings {
  @include clearfix();
  background: rgba(#9a9a9a, 0.20);;
  border: 5px solid #9a9a9a;
  margin-bottom: 1.04167%;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  padding: 20px;
  z-index: 1;

  .form-type-select[class*=-row],
  .form-type-select[class*=-primary-region] {
    display: block;
    float: left;
    border-right: 1px solid #CCC;
    margin: 0;
    padding: 0 10px;

    label {
      font-size: 11px;
    }

    select {
      width: 50px;
    }
  }

  .form-type-select[class*=-primary-region] {
    select {
      width: auto;
    }
  }

  .omega-layout-controls {
    display: block;
    float: left;
    border-right: 1px solid #CCC;
    font-size: 11px;
    margin: 0;
    padding: 0 10px;

    label {
      font-size: 11px;
    }

    .control-label {
      font-size: 11px;
      font-weight: bold;
    }
  }

  .form-type-textfield[class*=-maxwidth] {
    display: block;
    float: left;
    margin: 0;
    padding: 0 10px;

    label {
      font-size: 11px;
    }
    input {
      text-align: right;
      width: 70px;
    }
  }

  fieldset.form-item[class*=-maxwidth-type],
  fieldset.form-item[class*=-collapsed] {
    display: block;
    float: left;
    margin: 0;
    padding: 0 10px;
    border-right: 1px solid #CCC;

    legend {
      font-size: 11px;
    }
    .form-type-radio {
      display: inline-block;
      margin-right: 0.25em;
      font-size: 10px;
      padding: 0;
    }
  }

  fieldset.form-item[class*=-collapsed] {
    border-right: none;
  }

}

.region-controls {
  height: 16px;
  position: absolute;
  top: 10px;
  right: 5px;

  .send-to-back,
  .send-to-front {
    height: 16px;
    width: 16px;
    //float: right;
    display: inline-block;
    margin-right: 5px;
    opacity: 0.35;
    @include simpleTransition(opacity, 0.25s, ease-in-out);
    &:hover {
      opacity: 1;
    }
  }
  .send-to-back {
    background: url('../../images/toback.png') no-repeat center center;
  }
  .send-to-front {
    background: url('../../images/tofront.png') no-repeat center center;
  }
}

.push-pull-inactive {
  .send-to-back,
  .send-to-front {
    display: none;
  }
}

.push-pull-active {
  .send-to-back,
  .send-to-front {
    display: inline-block;
  }
}

.region-settings-toggle {
  position: relative;
  top: -25px;
  margin-bottom: -25px;
  margin-right: 15px;
  display: block;
  float: right;
  text-align: right;
  font-size: 11px;

  label {
    display: inline-block;
    margin-right: .5em;
  }
}

.layout-breakpoint-regions {

  > .details-wrapper {
    @include row(12);

    padding: 0;
  }

  .region-settings,
  .region-settings[open],
  .region-settings[open] + [open] {
    display: inline-block;
    background-image: none;
    background-color: #FFF;
    border-top-width: auto;
    padding: 20px;
    margin-bottom: 1.04167%;
    margin-top: 1.04167%;
    border: 5px solid #CCC;
    z-index: 1;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .form-item {
      display: block;

      label {
        font-variant: small-caps;
        margin-top: 10px;
        text-align: center;
      }
    }

    .details-wrapper {
      padding: 0;
    }

    summary {
      padding: 10px 0;
      text-align: left;
    }
  }
}

.layout-editor-select {

  legend {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .form-radios {
    background: #EEE;
    border: 1px solid #CCC;
    display: block;
    padding: 10px;
  }

  .form-type-radio {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin-right: 20px;

    input:checked + label {
      font-weight: bold;
    }
  }

  .description {
    clear: both;
  }
}

#export-type-select {
  @include clearfix();

  background: #EEE;
  border: 1px solid #DDD;
  padding: 10px 20px;

  .form-item {
    display: inline-block;
    margin-right: .5em;
  }

  fieldset {
    float: left;
    margin-bottom: 0;
    margin-top: 0;

    .form-item {
      //margin-right: 0;
    }

    legend {
      margin-right: 1em;
    }

    legend,
    .fieldset-wrapper {
      float: left;
    }
  }

  .form-type-select {
    float: left;
    font-size: .9em;
    margin-bottom: 0;
    margin-top: 0;

    label {
      display: none;
    }
  }

  .form-type-radio {
    margin-bottom: 0;
    margin-top: 0;
  }

  .separator {
    float: left;
    font-weight: bold;
    margin-right: 1em;
  }
}

.inline-documentation-image {
  height: auto;
  max-width: 80%;
}

.entity-meta details[open] {
  background-image: none;
}

.messages {
  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

// Updates for regionAssign.js
.layout-region--message {
  // Show the message when the region is empty.
  &.layout-region--empty {
    display: block;
  }
  // Hide the message when a region gets added to the region.
  &.layout-region--populated {
    display: none;
  }
}
.layout-region--title,
.layout-region--title:hover {
  background: #f9f9f9;
}

.theme-region-row {
  &.drag-previous,
  &.drag-previous:hover {
    background-color: #ffd;
  }
  .tabledrag-handle {
    margin: 8px 0;
  }
  h5 {
    display: inline-block;
  }
}

details > summary {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
