/**
 * @file
 * Basic default book structural CSS for right to left languages.
 */
/* line 5, ../../../sass/modules/book/book.theme-rtl.scss */
.book-navigation__previous {
  float: right;
  text-align: right;
}

/* line 9, ../../../sass/modules/book/book.theme-rtl.scss */
.book-navigation__up {
  float: right;
}

/* line 12, ../../../sass/modules/book/book.theme-rtl.scss */
.book-navigation__next {
  float: left;
  text-align: left;
}
