@import "panels";

$button-color: #888;
$button-background-color: #eee;
$button-radius: 3px;

@mixin button($color: $button-color, $background-color: $button-background-color, $radius: $button-radius) {
  @include fancy-panel($color, $background-color, $radius);
  font-weight: bold;
  text-align: center;
  padding: .5em 1em;
  cursor: pointer;

  &:hover, &:focus, &:active {
    @include single-box-shadow(rgba(0, 0, 0, .2), 0, 1px, 1px);
    background-color: lighten(saturate($background-color, 5), 2.5);
    border-color: darken(desaturate($background-color, 20), 15);
    text-decoration: none;
  }

  &:active {
    @include single-box-shadow(rgba(0, 0, 0, .2), 0, 1px, 1px, false, true);
  }
}