@import "compass/css3/text-shadow";
@import "panels";

$status-message-color: #5DA423 !default;
$warning-message-color: #f5c400 !default;
$error-message-color: #C60F13 !default;
$message-font-color: white !default;
$message-box-radius: 5px !default;

@mixin drupal-messages(
  $status: $status-message-color,
  $warning: $warning-message-color,
  $error: $status-message-color,
  $radius: $message-box-radius,
  $color: $message-font-color
) {
  div.messages {
    @include fancy-panel(#fff, #ccc, 5px);
    position: relative;

    &.status, &.error, &.warning {
      color: $color;
      padding: .5em .6em;
      background-image: none;
    }

    &.status {
      background-color: $status;
      border-color: darken(desaturate($status, 10), 5);
    }

    &.warning {
      background-color: $warning;
      border-color: darken(desaturate($warning, 10), 5);
    }

    &.error {
      background-color: $error;
      border-color: darken(desaturate($error, 10), 5);
    }
  }

  // Remove the annoying message list margin.
  div.messages ul {
    margin: 0;
  }
}

@mixin drupal-messages-close {
  div.messages {
    position: relative;
  }

  .close-message {
    @include single-text-shadow(none);
    position: absolute;
    right: .4em;
    top: -.2em;
    text-decoration: none;
    color: rgba(0, 0, 0, .3);

    &:before {
      font-size: 1.4em;
      content: "×";
    }

    &:hover, &:focus, &:active {
      color: #000;
    }
  }
}