/**
 * Mixin for styling form input elements.
 * Primarily for items like text, search, password, etc.
 */
/**
 * Mixin for styling form button elements.
 * Primarily for items like <a> <span> <button> <input type="submit">.
 */
.site--branding-area {
  position: relative;
  margin-top: 20px;
  padding: 0 20px;
}

.site--branding-area .site--name {
  padding-top: 0;
}

.site--branding-area .site--logo {
  float: left;
  max-width: 80px;
  height: auto;
  margin-right: 25px;
}

.site--branding-area .site--logo a {
  display: block;
  color: blue;
}

.site--branding-area .site--logo svg {
  max-width: 100%;
  height: auto;
}

.site--branding-area .site--logo svg path {
  transition: fill 0.25s ease-in-out;
  fill: #5A5A5A;
}

.site--branding-area .site--logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.site--branding-area .site--branding--name {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -0.075em;
  font-family: "Helvetica Neue", Arial, Helvetica;
  color: #5A5A5A;
}

.site--branding-area .site--branding--name a {
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  color: #5A5A5A;
}

.site--branding-area .site--branding--slogan {
  color: #5A5A5A;
  font-variant: small-caps;
}

.site--branding-area:hover .site--logo svg path {
  fill: #1A1A1A;
}

.site--branding-area:hover .site--branding--name a {
  color: #1A1A1A;
}
