/**
 * Mixin for styling form input elements.
 * Primarily for items like text, search, password, etc.
 */
/**
 * Mixin for styling form button elements.
 * Primarily for items like <a> <span> <button> <input type="submit">.
 */
.messages--warning {
  box-shadow: none;
  border-left: 8px solid #E09600;
}

.messages--status {
  box-shadow: none;
  border-left: 8px solid #77B259;
}

.messages--error {
  box-shadow: none;
  border-left: 8px solid #E62600;
}
