.block--menu--main ul {
  margin: 0;
  padding: 0;
  clear: both;
  font-size: 0;
  background: transparent;
  border: none;
  text-align: left;
}

.block--menu--main ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.block--menu--main ul li a {
  transition: all 0.15s ease-in-out;
  display: block;
  text-decoration: none;
  margin: 1px 1px 0 0;
  padding: 1em 2em;
  font-weight: bold;
  font-size: 18px;
  background: #EFEFEF;
  border-color: transparent;
  border-style: none;
  border-bottom-width: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.block--menu--main ul li a:hover {
  background: #e2e2e2;
}

.block--menu--main ul li a.is-active {
  background: #d6d6d6;
}

.block--menu--main ul li a.is-active:hover {
  background: #d6d6d6;
}

.block--menu--main ul .menu-item--expanded ul {
  display: none;
}

.block--menu--main ul .menu-item--expanded:hover > ul {
  position: absolute;
  display: block;
  z-index: 10;
}

.block--menu--main ul .menu-item--expanded:hover > ul li {
  display: block;
}

.block--menu--main ul .menu-item--expanded:hover > ul a {
  text-align: left;
  font-size: 14px;
  min-width: 240px;
}
