.user--bar--layout .login-box--flyout {
  display: none;
}

.user--bar--layout .login-box--trigger {
  display: block;
}

.login-box--trigger .icon--user {
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  text-transform: none;
  font-variant: none;
  background: #EFEFEF;
  color: #1A1A1A;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #7A7A7A;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

.login-box--trigger .icon--user:hover, .login-box--trigger .icon--user:active {
  background: #c9c9c9;
  color: black;
}
