.breadcrumb {
  padding: 5px 20px;
  background: #EFEFEF;
  margin: 5px 0;
  font-size: 11px;
}

.breadcrumb ol,
.breadcrumb ul {
  margin: 0;
  padding: 0;
}

.breadcrumb a {
  color: #1A1A1A;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: #343434;
  text-decoration: underline;
}
