.block-search {
  padding-right: 40px;
}

.block-search .form-type-search {
  display: inline-block;
}

.block-search .form-type-search input {
  transition: all 0.25s ease-in-out;
  background: #FFF;
  width: 160px;
  max-width: 100%;
  padding: 0.35em 0.5em;
  font-size: 0.8em;
  font-weight: normal;
  border: 1px solid #1A1A1A;
  border-radius: 3px;
}

.block-search .form-type-search input:active {
  border: 1px solid #1A1A1A;
}

.block-search .form-type-search input:focus {
  border: 1px solid #1A1A1A;
}

.block-search .form-submit {
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  text-transform: none;
  font-variant: none;
  background: #EFEFEF;
  color: #1A1A1A;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #7A7A7A;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  padding: 0.5em 0.75em;
  text-decoration: none;
  box-shadow: none;
}

.block-search .form-submit:hover, .block-search .form-submit:active {
  background: #c9c9c9;
  color: black;
}

.block-search .icon--search {
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  text-transform: none;
  font-variant: none;
  background: #EFEFEF;
  color: #1A1A1A;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #7A7A7A;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

.block-search .icon--search:hover, .block-search .icon--search:active {
  background: #c9c9c9;
  color: black;
}
