/**
 * Mixin for styling form input elements.
 * Primarily for items like text, search, password, etc.
 */
/**
 * Mixin for styling form button elements.
 * Primarily for items like <a> <span> <button> <input type="submit">.
 */
.page--wrapper,
.page--wrapper .page,
.page--wrapper .page .omega-layout-wrapper,
.page--wrapper .page .omega-layout {
  position: relative;
  min-height: 100vh;
}

.region-group--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.region--footer {
  *zoom: 1;
  background: #3A3A3A;
  color: #9A9A9A;
  padding: 10px 20px;
}

.region--footer::before, .region--footer::after {
  content: '';
  display: table;
}

.region--footer::after {
  clear: both;
}

.region--footer a {
  color: #7A7A7A;
}

.region--footer a:hover {
  color: #adadad;
}

.region--footer .block-system-powered-by-block {
  float: right;
}

.region--footer .block-menu {
  float: left;
  font-size: 0.65em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2em;
  text-decoration: none;
}

.region--footer .block-menu ul {
  margin: 0;
}

.region--footer .block-menu li {
  display: inline-block;
  margin-right: 4px;
}
