/**
 * Mixin for styling form input elements.
 * Primarily for items like text, search, password, etc.
 */
/**
 * Mixin for styling form button elements.
 * Primarily for items like <a> <span> <button> <input type="submit">.
 */
/* Apply a natural box layout model to all elements http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica;
  font-size: 100%;
  max-width: 100%;
  min-height: 100vh;
}

body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 0;
  padding-left: 15rem;
}

a {
  transition: color 0.25s ease-in-out;
  text-decoration: none;
  color: #1a1a1a;
}

a:hover {
  text-decoration: underline;
  color: rgba(26, 26, 26, 0.85);
}

details {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}
