/**
 * Mixin for styling form input elements.
 * Primarily for items like text, search, password, etc.
 */
/**
 * Mixin for styling form button elements.
 * Primarily for items like <a> <span> <button> <input type="submit">.
 */
.field--taxonomy-terms .field-item--taxonomy-term {
  display: block;
  float: left;
}

.field--taxonomy-terms .taxonomy-term {
  display: block;
}

.field--taxonomy-terms .taxonomy-term {
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  text-transform: none;
  font-variant: none;
  background: #EFEFEF;
  color: #1A1A1A;
  font-size: 11px;
  font-weight: normal;
  border: 1px solid #7A7A7A;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

.field--taxonomy-terms .taxonomy-term:hover, .field--taxonomy-terms .taxonomy-term:active {
  background: #c9c9c9;
  color: black;
}
