/**
 * Mixin for styling form input elements.
 * Primarily for items like text, search, password, etc.
 */
/**
 * Mixin for styling form button elements.
 * Primarily for items like <a> <span> <button> <input type="submit">.
 */
.tabs a {
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  text-transform: none;
  font-variant: none;
  background: #EFEFEF;
  color: #1A1A1A;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #7A7A7A;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

.tabs a:hover, .tabs a:active {
  background: #c9c9c9;
  color: black;
}

.tabs a.is-active {
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  text-transform: none;
  font-variant: none;
  background: white;
  color: #1A1A1A;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #7A7A7A;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  padding: 0.5em 0.75em;
  text-decoration: none;
}

.tabs a.is-active:hover, .tabs a.is-active:active {
  background: white;
  color: #1A1A1A;
}
