body {
  *zoom: 1;
  min-width: 100%;
  width: 100%;
}

body::before, body::after {
  content: '';
  display: table;
}

body::after {
  clear: both;
}

@media all and (min-width: 0px) {
  .layout--omega--traditional .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--user::before, .layout--omega--traditional .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--user::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--header::before, .layout--omega--traditional .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--header::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--preface::before, .layout--omega--traditional .region-group--preface::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--preface::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-first {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-second {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-third {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--content::before, .layout--omega--traditional .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--content::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-first {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-second {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--postscript::before, .layout--omega--traditional .region-group--postscript::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--postscript::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-first {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-second {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-third {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--footer::before, .layout--omega--traditional .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--footer::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}

@media all and (max-width: 479px) {
  .layout--omega--traditional .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--user::before, .layout--omega--traditional .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--user::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--header::before, .layout--omega--traditional .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--header::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--preface::before, .layout--omega--traditional .region-group--preface::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--preface::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-first {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-second {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-third {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--content::before, .layout--omega--traditional .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--content::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-first {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-second {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--postscript::before, .layout--omega--traditional .region-group--postscript::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--postscript::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-first {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-second {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-third {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--footer::before, .layout--omega--traditional .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--footer::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .layout--omega--traditional .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--user::before, .layout--omega--traditional .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--user::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--header::before, .layout--omega--traditional .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--header::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--preface::before, .layout--omega--traditional .region-group--preface::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--preface::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-first {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-second {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-third {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--content::before, .layout--omega--traditional .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--content::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-first {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-second {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--postscript::before, .layout--omega--traditional .region-group--postscript::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--postscript::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-first {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-second {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-third {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--footer::before, .layout--omega--traditional .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--footer::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .layout--omega--traditional .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--user::before, .layout--omega--traditional .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--user::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--header::before, .layout--omega--traditional .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--header::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--preface::before, .layout--omega--traditional .region-group--preface::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--preface::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-first {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-second {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-third {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
    /* stylelint-disable selector-max-specificity */
    /* stylelint-enable selector-max-specificity */
  }
  .layout--omega--traditional .region-group--content::before, .layout--omega--traditional .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--content::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: 25%;
    right: auto;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-first {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: auto;
    right: 50%;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-second {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-first .layout--region--content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 75%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 74.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-second .layout--region--content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 75%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 74.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: 25%;
    right: auto;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-second .layout--region--sidebar-first {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: auto;
    right: 75%;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-first.without--sidebar-second .layout--region--content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--postscript::before, .layout--omega--traditional .region-group--postscript::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--postscript::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-first {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-second {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-third {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--footer::before, .layout--omega--traditional .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--footer::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}

@media all and (min-width: 1024px) and (max-width: 1219px) {
  .layout--omega--traditional .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--user::before, .layout--omega--traditional .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--user::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--header::before, .layout--omega--traditional .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--header::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--preface::before, .layout--omega--traditional .region-group--preface::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--preface::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-first {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-second {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-third {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
    /* stylelint-disable selector-max-specificity */
    /* stylelint-enable selector-max-specificity */
  }
  .layout--omega--traditional .region-group--content::before, .layout--omega--traditional .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--content::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: 25%;
    right: auto;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-first {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: auto;
    right: 50%;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-second {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-first .layout--region--content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 75%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 74.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-second .layout--region--content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 75%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 74.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: 25%;
    right: auto;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-second .layout--region--sidebar-first {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: auto;
    right: 75%;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-first.without--sidebar-second .layout--region--content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--postscript::before, .layout--omega--traditional .region-group--postscript::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--postscript::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-first {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-second {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-third {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--footer::before, .layout--omega--traditional .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--footer::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}

@media all and (min-width: 1220px) {
  .layout--omega--traditional .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--user::before, .layout--omega--traditional .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--user::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 1440px;
  }
  .layout--omega--traditional .region-group--header::before, .layout--omega--traditional .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--header::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 1440px;
  }
  .layout--omega--traditional .region-group--preface::before, .layout--omega--traditional .region-group--preface::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--preface::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-first {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-second {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-third {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--preface .layout--region--preface-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 1440px;
    /* stylelint-disable selector-max-specificity */
    /* stylelint-enable selector-max-specificity */
  }
  .layout--omega--traditional .region-group--content::before, .layout--omega--traditional .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--content::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 49.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: 25%;
    right: auto;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-first {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: auto;
    right: 50%;
  }
  .layout--omega--traditional .region-group--content .layout--region--sidebar-second {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-first .layout--region--content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 75%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 74.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-second .layout--region--content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 75%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 74.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: 25%;
    right: auto;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-second .layout--region--sidebar-first {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
    left: auto;
    right: 75%;
  }
  .layout--omega--traditional .region-group--content.with--content.without--sidebar-first.without--sidebar-second .layout--region--content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: none;
    clear: both;
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 1440px;
  }
  .layout--omega--traditional .region-group--postscript::before, .layout--omega--traditional .region-group--postscript::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--postscript::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-first {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-second {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-third {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--postscript .layout--region--postscript-fourth {
    display: block;
    position: relative;
    clear: none;
    width: 25%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 24.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--traditional .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--traditional .region-group--footer::before, .layout--omega--traditional .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--traditional .region-group--footer::after {
    clear: both;
  }
  .layout--omega--traditional .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}
