body {
  *zoom: 1;
  min-width: 100%;
  width: 100%;
}

body::before, body::after {
  content: '';
  display: table;
}

body::after {
  clear: both;
}

body {
  *zoom: 1;
  min-width: 100%;
  width: 100%;
}

body::before, body::after {
  content: '';
  display: table;
}

body::after {
  clear: both;
}

@media all and (min-width: 1024px) {
  .region-settings[data-omega-width="1"] {
    display: block;
    position: relative;
    clear: none;
    width: 6.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 6.14583%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-width="2"] {
    display: block;
    position: relative;
    clear: none;
    width: 14.58333%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 14.47917%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-width="3"] {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 22.8125%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-width="4"] {
    display: block;
    position: relative;
    clear: none;
    width: 31.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 31.14583%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-width="5"] {
    display: block;
    position: relative;
    clear: none;
    width: 39.58333%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 39.47917%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-width="6"] {
    display: block;
    position: relative;
    clear: none;
    width: 47.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 47.8125%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-width="7"] {
    display: block;
    position: relative;
    clear: none;
    width: 56.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 56.14583%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-width="8"] {
    display: block;
    position: relative;
    clear: none;
    width: 64.58333%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 64.47917%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-width="9"] {
    display: block;
    position: relative;
    clear: none;
    width: 72.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 72.8125%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-width="10"] {
    display: block;
    position: relative;
    clear: none;
    width: 81.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 81.14583%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-width="11"] {
    display: block;
    position: relative;
    clear: none;
    width: 89.58333%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 89.47917%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-width="12"] {
    display: block;
    position: relative;
    clear: none;
    width: 97.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    *width: 97.8125%;
    *margin-right: 0.9375%;
    *margin-left: 0.9375%;
    float: left;
  }
  .region-settings[data-omega-push="1"] {
    left: 8.33333%;
    right: auto;
  }
  .region-settings[data-omega-push="2"] {
    left: 16.66667%;
    right: auto;
  }
  .region-settings[data-omega-push="3"] {
    left: 25%;
    right: auto;
  }
  .region-settings[data-omega-push="4"] {
    left: 33.33333%;
    right: auto;
  }
  .region-settings[data-omega-push="5"] {
    left: 41.66667%;
    right: auto;
  }
  .region-settings[data-omega-push="6"] {
    left: 50%;
    right: auto;
  }
  .region-settings[data-omega-push="7"] {
    left: 58.33333%;
    right: auto;
  }
  .region-settings[data-omega-push="8"] {
    left: 66.66667%;
    right: auto;
  }
  .region-settings[data-omega-push="9"] {
    left: 75%;
    right: auto;
  }
  .region-settings[data-omega-push="10"] {
    left: 83.33333%;
    right: auto;
  }
  .region-settings[data-omega-push="11"] {
    left: 91.66667%;
    right: auto;
  }
  .region-settings[data-omega-push="12"] {
    left: 100%;
    right: auto;
  }
  .region-settings[data-omega-pull="1"] {
    left: auto;
    right: 8.33333%;
  }
  .region-settings[data-omega-pull="2"] {
    left: auto;
    right: 16.66667%;
  }
  .region-settings[data-omega-pull="3"] {
    left: auto;
    right: 25%;
  }
  .region-settings[data-omega-pull="4"] {
    left: auto;
    right: 33.33333%;
  }
  .region-settings[data-omega-pull="5"] {
    left: auto;
    right: 41.66667%;
  }
  .region-settings[data-omega-pull="6"] {
    left: auto;
    right: 50%;
  }
  .region-settings[data-omega-pull="7"] {
    left: auto;
    right: 58.33333%;
  }
  .region-settings[data-omega-pull="8"] {
    left: auto;
    right: 66.66667%;
  }
  .region-settings[data-omega-pull="9"] {
    left: auto;
    right: 75%;
  }
  .region-settings[data-omega-pull="10"] {
    left: auto;
    right: 83.33333%;
  }
  .region-settings[data-omega-pull="11"] {
    left: auto;
    right: 91.66667%;
  }
  .region-settings[data-omega-pull="12"] {
    left: auto;
    right: 100%;
  }
  .region-settings[data-omega-prefix="1"] {
    margin-left: 9.375%;
  }
  .region-settings[data-omega-prefix="2"] {
    margin-left: 17.70833%;
  }
  .region-settings[data-omega-prefix="3"] {
    margin-left: 26.04167%;
  }
  .region-settings[data-omega-prefix="4"] {
    margin-left: 34.375%;
  }
  .region-settings[data-omega-prefix="5"] {
    margin-left: 42.70833%;
  }
  .region-settings[data-omega-prefix="6"] {
    margin-left: 51.04167%;
  }
  .region-settings[data-omega-prefix="7"] {
    margin-left: 59.375%;
  }
  .region-settings[data-omega-prefix="8"] {
    margin-left: 67.70833%;
  }
  .region-settings[data-omega-prefix="9"] {
    margin-left: 76.04167%;
  }
  .region-settings[data-omega-prefix="10"] {
    margin-left: 84.375%;
  }
  .region-settings[data-omega-prefix="11"] {
    margin-left: 92.70833%;
  }
  .region-settings[data-omega-prefix="12"] {
    margin-left: 101.04167%;
  }
  .region-settings[data-omega-suffix="1"] {
    margin-right: 9.375%;
  }
  .region-settings[data-omega-suffix="2"] {
    margin-right: 17.70833%;
  }
  .region-settings[data-omega-suffix="3"] {
    margin-right: 26.04167%;
  }
  .region-settings[data-omega-suffix="4"] {
    margin-right: 34.375%;
  }
  .region-settings[data-omega-suffix="5"] {
    margin-right: 42.70833%;
  }
  .region-settings[data-omega-suffix="6"] {
    margin-right: 51.04167%;
  }
  .region-settings[data-omega-suffix="7"] {
    margin-right: 59.375%;
  }
  .region-settings[data-omega-suffix="8"] {
    margin-right: 67.70833%;
  }
  .region-settings[data-omega-suffix="9"] {
    margin-right: 76.04167%;
  }
  .region-settings[data-omega-suffix="10"] {
    margin-right: 84.375%;
  }
  .region-settings[data-omega-suffix="11"] {
    margin-right: 92.70833%;
  }
  .region-settings[data-omega-suffix="12"] {
    margin-right: 101.04167%;
  }
}

.region-settings {
  width: 100%;
}

.scss-examples {
  background: #FEFEFE;
  border: 1px dashed #6a6a6a;
  margin-bottom: 20px;
  padding: 8px 5px;
}

.scss-examples ul {
  display: inline-block;
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0;
}

.scss-examples ul li {
  display: inline-block;
  margin-right: 1em;
}

.color-slider-controller {
  margin-bottom: 0;
  padding-bottom: 20px;
  position: relative;
}

.color-slider-controller label {
  display: inline-block;
  font-size: 18px;
}

.color-slider-controller .controls {
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.color-slider-controller ul.scss-examples {
  display: inline-block;
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0;
}

.color-slider-controller ul.scss-examples li {
  display: inline-block;
  margin-right: 1em;
}

.color-slider-controller input.rgb {
  transition: opacity 0.25s ease-in-out;
  position: absolute;
  right: -4em;
  top: -10px;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.35;
  width: 45px;
}

.color-slider-controller input.rgb:focus {
  opacity: 1;
}

.color-slider-controller input.color-slider {
  position: absolute;
  z-index: 100;
  right: 10px;
  bottom: 30px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.35;
  transition: opacity 0.25s ease-in-out;
}

.color-slider-controller input.color-slider:focus {
  opacity: 1;
}

.omega-welcome .screeny {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.color-slider {
  position: relative;
  max-height: 125px;
}

.color-slider .red,
.color-slider .green,
.color-slider .blue {
  float: left;
  clear: none;
  width: 60%;
  margin: 15px 0;
}

.color-slider .swatch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 75%;
  z-index: 1;
  border: 2px solid #FFF;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.color-slider .red .ui-slider-range {
  background: #ef2929;
}

.color-slider .red .ui-slider-handle {
  border-color: #EEEEEE;
  background: #ef2929;
}

.color-slider .green .ui-slider-range {
  background: #8ae234;
}

.color-slider .green .ui-slider-handle {
  border-color: #EEEEEE;
  background: #8ae234;
}

.color-slider .blue .ui-slider-range {
  background: #729fcf;
}

.color-slider .blue .ui-slider-handle {
  border-color: #EEEEEE;
  background: #729fcf;
}

.region-settings {
  transition: all 0.5s ease-in-out;
}

.region-settings .ui-slider .ui-slider-handle {
  background: #999;
  width: 1.8em;
  height: 1.8em;
  margin-left: -0.9em;
  top: -0.6em;
}

.form-type-checkbox label {
  font-weight: bold;
}

.form-type-checkbox .description {
  font-size: 0.9em;
}

.form-type-checkbox p.description {
  font-size: 1em;
  margin: 2px 0 5px 0;
}

.form-actions .button,
.form-actions .button:first-child {
  margin-left: 0;
  margin-right: 1em;
}

.slider .data-value {
  text-align: right;
  position: relative;
  top: 20px;
  font-weight: bold;
  font-size: 17px;
}

.omega-variables-info,
.omega-export-info,
.omega-styles-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.region-group-layout-settings {
  *zoom: 1;
  background: rgba(154, 154, 154, 0.2);
  border: 5px solid #9a9a9a;
  margin-bottom: 1.04167%;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  padding: 20px;
  z-index: 1;
}

.region-group-layout-settings::before, .region-group-layout-settings::after {
  content: '';
  display: table;
}

.region-group-layout-settings::after {
  clear: both;
}

.region-group-layout-settings .form-type-select[class*=-row],
.region-group-layout-settings .form-type-select[class*=-primary-region] {
  display: block;
  float: left;
  border-right: 1px solid #CCC;
  margin: 0;
  padding: 0 10px;
}

.region-group-layout-settings .form-type-select[class*=-row] label,
.region-group-layout-settings .form-type-select[class*=-primary-region] label {
  font-size: 11px;
}

.region-group-layout-settings .form-type-select[class*=-row] select,
.region-group-layout-settings .form-type-select[class*=-primary-region] select {
  width: 50px;
}

.region-group-layout-settings .form-type-select[class*=-primary-region] select {
  width: auto;
}

.region-group-layout-settings .omega-layout-controls {
  display: block;
  float: left;
  border-right: 1px solid #CCC;
  font-size: 11px;
  margin: 0;
  padding: 0 10px;
}

.region-group-layout-settings .omega-layout-controls label {
  font-size: 11px;
}

.region-group-layout-settings .omega-layout-controls .control-label {
  font-size: 11px;
  font-weight: bold;
}

.region-group-layout-settings .form-type-textfield[class*=-maxwidth] {
  display: block;
  float: left;
  margin: 0;
  padding: 0 10px;
}

.region-group-layout-settings .form-type-textfield[class*=-maxwidth] label {
  font-size: 11px;
}

.region-group-layout-settings .form-type-textfield[class*=-maxwidth] input {
  text-align: right;
  width: 70px;
}

.region-group-layout-settings fieldset[class*=-maxwidth-type],
.region-group-layout-settings fieldset[class*=-collapsed],
.region-group-layout-settings fieldset[class*=full-width-wrapper] {
  display: block;
  float: left;
  margin: 0;
  padding: 0 10px;
  border-right: 1px solid #CCC;
}

.region-group-layout-settings fieldset[class*=-maxwidth-type] legend,
.region-group-layout-settings fieldset[class*=-collapsed] legend,
.region-group-layout-settings fieldset[class*=full-width-wrapper] legend {
  font-size: 11px;
}

.region-group-layout-settings fieldset[class*=-maxwidth-type] .form-type-radio,
.region-group-layout-settings fieldset[class*=-collapsed] .form-type-radio,
.region-group-layout-settings fieldset[class*=full-width-wrapper] .form-type-radio {
  display: inline-block;
  margin-right: 0.25em;
  font-size: 10px;
  padding: 0;
}

.region-group-layout-settings fieldset[class*=full-width-wrapper] {
  border-right: none;
}

.region-controls {
  height: 16px;
  position: absolute;
  top: 10px;
  right: 5px;
}

.region-controls .send-to-back,
.region-controls .send-to-front {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 5px;
  opacity: 0.35;
  transition: opacity 0.25s ease-in-out;
}

.region-controls .send-to-back:hover,
.region-controls .send-to-front:hover {
  opacity: 1;
}

.region-controls .send-to-back {
  background: url("../../images/toback.png") no-repeat center center;
}

.region-controls .send-to-front {
  background: url("../../images/tofront.png") no-repeat center center;
}

.push-pull-inactive .send-to-back,
.push-pull-inactive .send-to-front {
  display: none;
}

.push-pull-active .send-to-back,
.push-pull-active .send-to-front {
  display: inline-block;
}

.region-settings-toggle {
  position: relative;
  top: -25px;
  margin-bottom: -25px;
  margin-right: 15px;
  display: block;
  float: right;
  text-align: right;
  font-size: 11px;
}

.region-settings-toggle label {
  display: inline-block;
  margin-right: .5em;
}

.layout-breakpoint-regions > .details-wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  *width: 99.89583%;
  *zoom: 1;
  padding: 0;
}

.layout-breakpoint-regions > .details-wrapper::before, .layout-breakpoint-regions > .details-wrapper::after {
  content: '';
  display: table;
}

.layout-breakpoint-regions > .details-wrapper::after {
  clear: both;
}

details.region-settings,
details.region-settings[open] {
  display: inline-block;
  background-image: none;
  background-color: #FFF;
  padding: 20px;
  margin-bottom: 1.04167%;
  margin-top: 1.04167%;
  border: 5px solid #CCC;
  z-index: 1;
  box-sizing: border-box;
}

details.region-settings .form-item,
details.region-settings[open] .form-item {
  display: block;
}

details.region-settings .form-item label,
details.region-settings[open] .form-item label {
  font-variant: small-caps;
  margin-top: 10px;
  text-align: center;
}

details.region-settings .details-wrapper,
details.region-settings[open] .details-wrapper {
  padding: 0;
}

details.region-settings summary,
details.region-settings[open] summary {
  padding: 10px 0;
  text-align: left;
}

.layout-editor-select legend {
  font-size: 24px;
  margin-bottom: 10px;
}

.layout-editor-select .form-radios {
  background: #EEE;
  border: 1px solid #CCC;
  display: block;
  padding: 10px;
}

.layout-editor-select .form-type-radio {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  margin-right: 20px;
}

.layout-editor-select .form-type-radio input:checked + label {
  font-weight: bold;
}

.layout-editor-select .description {
  clear: both;
}

.export-type-select {
  *zoom: 1;
  background: #EEE;
  border: 1px solid #DDD;
  padding: 10px 20px;
}

.export-type-select::before, .export-type-select::after {
  content: '';
  display: table;
}

.export-type-select::after {
  clear: both;
}

.export-type-select .form-item {
  display: inline-block;
  margin-right: .5em;
}

.export-type-select fieldset {
  float: left;
  margin-bottom: 0;
  margin-top: 0;
}

.export-type-select fieldset legend {
  margin-right: 1em;
}

.export-type-select fieldset legend,
.export-type-select fieldset .fieldset-wrapper {
  float: left;
}

.export-type-select .form-type-select {
  float: left;
  font-size: .9em;
  margin-bottom: 0;
  margin-top: 0;
}

.export-type-select .form-type-select label {
  display: none;
}

.export-type-select .form-type-radio {
  margin-bottom: 0;
  margin-top: 0;
}

.export-type-select .separator {
  float: left;
  font-weight: bold;
  margin-right: 1em;
}

.inline-documentation-image {
  height: auto;
  max-width: 80%;
}

.entity-meta details[open] {
  background-image: none;
}

.messages :first-child {
  margin-top: 0;
}

.messages :last-child {
  margin-bottom: 0;
}

.layout-region--message.layout-region--empty {
  display: block;
}

.layout-region--message.layout-region--populated {
  display: none;
}

.layout-region--title,
.layout-region--title:hover {
  background: #f9f9f9;
}

.theme-region-row.drag-previous, .theme-region-row.drag-previous:hover {
  background-color: #ffd;
}

.theme-region-row .tabledrag-handle {
  margin: 8px 0;
}

.theme-region-row h5 {
  display: inline-block;
}

details > summary {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
