body {
  *zoom: 1;
  min-width: 100%;
  width: 100%;
}

body::before, body::after {
  content: '';
  display: table;
}

body::after {
  clear: both;
}

@media all and (min-width: 0px) {
  .layout--omega--one-column-stacked .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--user::before, .layout--omega--one-column-stacked .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--user::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--header::before, .layout--omega--one-column-stacked .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--header::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--content::before, .layout--omega--one-column-stacked .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--content::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--footer::before, .layout--omega--one-column-stacked .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--footer::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}

@media all and (max-width: 479px) {
  .layout--omega--one-column-stacked .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--user::before, .layout--omega--one-column-stacked .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--user::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--header::before, .layout--omega--one-column-stacked .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--header::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--content::before, .layout--omega--one-column-stacked .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--content::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--footer::before, .layout--omega--one-column-stacked .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--footer::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .layout--omega--one-column-stacked .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--user::before, .layout--omega--one-column-stacked .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--user::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--header::before, .layout--omega--one-column-stacked .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--header::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--content::before, .layout--omega--one-column-stacked .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--content::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--footer::before, .layout--omega--one-column-stacked .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--footer::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .layout--omega--one-column-stacked .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--user::before, .layout--omega--one-column-stacked .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--user::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--header::before, .layout--omega--one-column-stacked .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--header::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--content::before, .layout--omega--one-column-stacked .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--content::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--footer::before, .layout--omega--one-column-stacked .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--footer::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}

@media all and (min-width: 1024px) and (max-width: 1219px) {
  .layout--omega--one-column-stacked .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--user::before, .layout--omega--one-column-stacked .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--user::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--header::before, .layout--omega--one-column-stacked .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--header::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--content::before, .layout--omega--one-column-stacked .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--content::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--footer::before, .layout--omega--one-column-stacked .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--footer::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}

@media all and (min-width: 1220px) {
  .layout--omega--one-column-stacked .region-group--user {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--user::before, .layout--omega--one-column-stacked .region-group--user::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--user::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--user .layout--region--user {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--header {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 1440px;
  }
  .layout--omega--one-column-stacked .region-group--header::before, .layout--omega--one-column-stacked .region-group--header::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--header::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--header .layout--region--header {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--content {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 1440px;
  }
  .layout--omega--one-column-stacked .region-group--content::before, .layout--omega--one-column-stacked .region-group--content::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--content::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--content .layout--region--content {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
  .layout--omega--one-column-stacked .region-group--footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    *width: 99.89583%;
    *zoom: 1;
    max-width: 100%;
  }
  .layout--omega--one-column-stacked .region-group--footer::before, .layout--omega--one-column-stacked .region-group--footer::after {
    content: '';
    display: table;
  }
  .layout--omega--one-column-stacked .region-group--footer::after {
    clear: both;
  }
  .layout--omega--one-column-stacked .region-group--footer .layout--region--footer {
    display: block;
    position: relative;
    clear: none;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    *width: 99.89583%;
    *margin-right: -0.10417%;
    *margin-left: -0.10417%;
    float: left;
  }
}
